[2015-06-22 18:20] rhuss commented on #4294
`oc get routes` yields

[code]

[2015-06-22 18:49] christian-posta commented on #4294
What apps have you installed? did fabric8:apply not create the routes? or
maybe need to run "mvn fabric8:create-routes"?

On Mon, Jun 22, 2015 at 11:20 AM, Roland Huß <notifications@github.com>
wrote:

--
*Christian Posta*
twitter: @christianposta
http://www.christianposta.com/blog
http://fabric8.io

[2015-06-22 18:52] jstrachan commented on #4294
@christian-posta the Vagrantfile creates the Route for fabric8

[2015-06-22 18:52] rhuss commented on #4294
Yes it does, but it is how the host outside of the Vagrant VM can reach the service via routes. Normally for each route you have to add it to `/etc/hosts`. With having a DNS provider with a `catch-all` rule this will be superfluous.

The current setup is only with the fabric8 console and the routes shown above. A 'http://fabric8.vagrant.f8' which should be routed to the console service yields curr

[2015-06-22 20:45] #4306 closed

[2015-06-22 20:46] jstrachan commented on #4305
done http://repo1.maven.org/maven2/io/fabric8/apps/distro/2.2.2/

[2015-06-22 20:46] #4305 closed

[2015-06-22 20:46] #4298 closed

[2015-06-23 07:18] bcfelix commented on #3652
Fixed, see https://groups.google.com/forum/#!topic/fabric8/WB7v-eg9Q4w

[2015-06-23 07:18] #3652 closed

[2015-06-23 08:53] jstrachan opened #4310 "create an apiman page describing the APIMan app and how it runs apiman console + gateway etc"

[2015-06-23 08:59] jstrachan opened #4311 "fix up the MQ docs to describe the current capabilities:"
we've now a nice 1 click install of the Messaging app in the vagrant image; we could use better docs on whats there now - particularly after this awesome blog post
https://medium.com/fabric8-io/fabric8-mq-not-just-a-message-broker-18ca5af1e0f

it'd be good to describe the relationship between the `fabric8mq` app (the service folks talk to) and the `amqbroker` RC to avoid confusion

[2015-06-23 10:39] davsclaus opened #4312 "Using the log tab is not useable out of the box"
Using latest vagrant.

I installed the quickstarts which is a little client server app that talks to each out and logs to system out etc.

I then installed the logging app and ES and kibana installed nicely. When I click the Logs tab in the hawtio UI then kibana opens.

But it ask me about some index which seems to be not configured out of the box, and I assume the end users would not know what to

[2015-06-23 10:39] davsclaus commented on #4312
@jimmidyson didnt you try to work on this or was I mistaken? IMHO would be awesome to get this working out of the box with installing just from the apps page

[2015-06-23 10:40] jimmidyson commented on #4312
I just need to add the fluentd container to the vagrant image by default.

[2015-06-23 10:42] jimmidyson commented on #4312
As the fluentd pod has to be run per node this isn't something you can create as part of an app - involves configuration on the node unfortunately.

[2015-06-23 10:48] jstrachan commented on #4312
aha!

[2015-06-23 20:46] #4143 closed

[2015-06-23 20:47] jstrachan opened #4318 "logging and metric apps should work out of the box from the Run... button in the console"

[2015-06-23 20:47] #4318 closed

[2015-06-23 21:02] rawlingsj commented on #4143
Yay!

[2015-06-24 04:04] meggarr commented on #2311
Hi, & recently I am looking to use Consul, and also interested in what fabric8 project claims. So is this refactor work integrated in fabric8? Thanks~

[2015-06-24 05:06] jstrachan commented on #2311
FWIW we've found all the discovery we need in core Kubernetes so far http://fabric8.io/guide/services.html#discovering-services-from-your-application

then we're using CDI/Spring to inject a service location or endpoint instances
http://fabric8.io/guide/cdi.html

so having a universal Java API to ZK / etcd / consul has kinda slipped down the list of priorities I'm afraid. We love contributions tho

[2015-06-24 05:13] jstrachan opened #4323 "create a Spring / Spring Boot docs page like the CDI page for annotations in Spring / Spring Boot for Kubernetes"

[2015-06-24 05:27] #4056 closed

[2015-06-24 06:08] oscerd opened #4325 "mvn fabric8:create-env should append volumes to docker run command line"
We have to add volumes to the docker command line to run the docker image. Also we have to save the generated command line inside a bash script target/dockerRun.sh.

[2015-06-24 06:08] oscerd commented on #4325
I'd like to work on this.

[2015-06-24 06:16] oscerd opened #4326 "mvn fabric8:create-env should append port mappings to docker run command line"
We have to add port mappings to the docker run command line, to have a complete command to execute.

[2015-06-24 06:16] oscerd commented on #4326
I'd like to work on this.

[2015-06-24 08:20] davsclaus opened #4328 "Getting started vagrant docs - need that"
Need to include that new plugin required

davsclaus:~/workspace/fabric8-installer/vagrant/openshift-latest (master)/$ vagrant plugin install vagrant-hostmanager
Installing the 'vagrant-hostmanager' plugin. This can take a few minutes...
Installed the plugin 'vagrant-hostmanager (1.5.0)'!
davsclaus:~/workspace/fabric8-installer/vagrant/openshift-latest (master)/$ vagrant up
There was an error loadi

[2015-06-24 08:29] davsclaus commented on #4328
And the vagrant script outputs those no longer needed ENV variables

==> default:    export KUBERNETES_MASTER=https://172.28.128.4:8443
==> default:    export KUBERNETES_DOMAIN=vagrant.f8
==> default:    export KUBERNETES_TRUST_CERT=true

Though maybe domain is still needed? @jstrachan

[2015-06-24 08:35] jimmidyson commented on #4328
I had removed those env vars from the Vagrantfile - seems they've been reintroduced.

KUBERNETES_DOMAIN is still needed, others not.

[2015-06-24 09:14] davsclaus commented on #4275
Also sometimes doing a vagrant destroy and vagrant up can fix this. Just had this problem today.
And Roland says to reboot the laptop may fix a glitch with virtual box.

[2015-06-24 09:15] davsclaus commented on #4159
@oscerd as you work on the mvn create-env goal, do you mind taking a look and fixing this?

[2015-06-24 09:17] oscerd commented on #4159
Yeah. Sure :-)

[2015-06-24 09:24] rhuss commented on #4328
My fault. I will remove everything except KUBERNETES_DOMAIN.

Should I make the message more OS agnostic (e.g. with a Windows example with 'set') ?

[2015-06-24 09:26] jimmidyson commented on #4328
Yeah! Can potentially detect OS & spit out what's required?

[2015-06-24 09:37] rhuss commented on #4328
Script is running in the VM. Maybe I can inject the host OS as an env var during provisioning ?

[2015-06-24 09:38] davsclaus commented on #4124
Works faster now and with the new dns stuff

davsclaus:~/$ time curl http://quickstart-camelservlet.vagrant.f8/camel/hello?name=bar
Hello bar I am quickstart-war-camel-servlet-b2e2j how are you?
real	0m0.012s
user	0m0.004s
sys	0m0.003s

[2015-06-24 09:38] #4124 closed

[2015-06-24 14:08] davsclaus opened #4332 "Log tab - Missing default dashboard"
I just got the new vagrant image and the log tab works. Though a few observations

1)
Could not locate that dashboard (id: Fabric8)
is shown in the top bar as a kinda warning.

2)
Under settings the timestamp field is red, but when I click it it suggests `@timestamp` and the Create button then works.

![screen shot 2015-06-24 at 4 13 07 pm](https://cloud.githubusercontent.com/assets/477100/8331927

[2015-06-24 17:37] davsclaus opened #4334 "Install camel forge commands loads 2.2-SNAPSHOT"
[myweb]$ addon-install --coordinate io.fabric8.forge:camel,2.2.3
Downloading: http://repo1.maven.org/maven2/io/fabric8/forge/camel/2.2-SNAPSHOT/maven-metadata.xml
Downloading: http://repo1.maven.org/maven2/io/fabric8/forge/forge-addons/2.2-SNAPSHOT/maven-metadata.xml
Downloading: http://repo1.maven.org/maven2/io/fabric8/forge/forge-parent/2.2-SNAPSHOT/maven-metadata.xml
Downloading: http://repo1.m

[2015-06-24 18:13] davsclaus opened #4336 "forge-addon - No longer need the jolokia-access.xml workaround"

[2015-06-24 18:30] davsclaus opened #4338 "forge addon - Maybe not include registryPrefix in fabric-setup"
@rhuss - I wonder if the docker plugin should avoid adding docker prefix if the ENV is not set

eg in the pom.xml we have generated
[code]

And I do not have that ENV set, and the docker:build generates the image as
[code]

[2015-06-24 18:31] #4336 closed

[2015-06-24 18:32] davsclaus commented on #4338
And if I remove that line from my pom.xml docker:build generates
[code]

[2015-06-24 18:34] davsclaus commented on #4338
And if you forget to append slash at the end of the docker.imagePrefix in the pom.xml
[code]
 it generates
[code]

notice there is no slash between mycompany and fabric8

[2015-06-24 18:36] davsclaus commented on #4338
Ah its our bad as we set
[code]

[2015-06-24 20:57] jstrachan opened #4339 "Include hubot-grafana by default"
it looks awesome ;)

https://github.com/stephenyeargin/hubot-grafana

[2015-06-24 22:33] rawlingsj commented on #4339
Ah funnily enough, I had this link on my to read list for today but didn't get around to reading it.

I'll add it in.

[2015-06-25 05:28] rhuss commented on #4328
Added hint to startup message.

[2015-06-25 05:28] #4328 closed

[2015-06-25 06:02] jstrachan opened #4340 "create a Jenkins Kubernetes Workflow - like a combination of Jenkins Docker Workflow + Kubernetes Jenkins plugin"
Jenkins Workflow rocks; as does the [Jenkins Docker Workflow](http://developer-blog.cloudbees.com/2015/06/orchestrating-workflows-with-jenkins.html?m=1).
It would also be nice to use something like the [Kubernetes Jenkins plugin](https://wiki.jenkins-ci.org/display/JENKINS/Kubernetes+Plugin
https://github.com/jenkinsci/kubernetes-plugin) to auto-scale builds on kubernetes (so there's basically no

[2015-06-25 07:08] jstrachan commented on #4287
it turns out using Kubernetes plugin for Jenkins and the docker workflow together is challenging - so I spun out this separate issue: https://github.com/fabric8io/fabric8/issues/4340

[2015-06-25 07:09] jstrachan commented on #4286
using Docker Workflow and Kubernetes Jenkins Plugin together is quite challenging so I've spun up an idea of how we could make those things work nicer on kubernetes here: https://github.com/fabric8io/fabric8/issues/4340

[2015-06-26 12:28] jstrachan opened #4347 "create a CD screencast"
a quick 5 mins video showing creating a project -> gogs repo created -> jenkins CI / CD pipeline created with integration testing and provisioning and chat notifications of things building etc

[2015-06-26 12:28] jstrachan opened #4348 "create a gerrit code review screen cast using the CD"

[2015-06-26 12:30] jstrachan opened #4349 "create an artifactory app"
as an alternative for nexus.

We may want to get jenkins to use either artifactory or nexus

[2015-06-26 14:06] mwringe opened #4350 "API: ServiceAccounts missing from Kubernetes object"
ServiceAccounts are missing from the Kubernetes object in the API.

This causes tests to fail when using the Fabric8 arquillian plugins when the kubernetes.json file creates a service account.

It also means that users of the API have no way to access or manage service accounts.

[2015-06-26 14:09] jimmidyson commented on #4350
ServiceAccounts are included in recent releases - try 2.2.3?

[2015-06-26 14:11] jimmidyson commented on #4350
Ah I misunderstood! Thanks!

[2015-06-26 14:12] mwringe commented on #4350
I am running on master. Its not exposed and causes tests to not run when using the arquillian plugin since it doesn't understand what a service account it.

I created a PR which allows the tests to pass and access service account details: https://github.com/fabric8io/fabric8/pull/4351

[2015-06-26 21:15] cmoulliard commented on #4348
I can take care of that and also add a reviewer end user for the screencast

[2015-06-27 05:29] jstrachan opened #4354 "patch kubernetes/openshift to provide a custom implementation of the kube proxy with integrated ApiMan functionality"
having a single kube proxy within kubernetes provides an awesome place to integrate API management features (e.g. throttling, access control, metrics, breadcrumbs etc).

I wonder if we should look at patching kubernetes/openshift to allow a custom implementation of the kube proxy load balancer which is API man aware; if the service is annotated (say) then API management is enabled and policies are

[2015-06-27 05:45] jstrachan opened #4355 "default to google / github authentiation in openshift so we can reuse it for gogs / letschat et al"
using google by default will also help apps work OOTB on google cloud too

[2015-06-27 08:20] #4325 closed

[2015-06-28 06:28] #4326 closed

[2015-06-28 06:31] davsclaus commented on #4350
Thanks a lot @mwringe. The PR has been merged. Is there more to this ticket or can it be closed?

[2015-06-28 06:35] davsclaus opened #4359 "Offline mode - ReplicationController is slow at updating new image depending on ENV set or not"
when you build a java project such as from a Camel maven archetype, and then add the docker plugin and build an image and deploy to kubernetes with fabric8:apply. Then its slow with downloading image.

I found out that its slow when you do NOT have the following ENV variable defined

    DOCKER_REGISTRY="172.30.111.183:5000"

when you build the image.

If you set this ENV and build the image then

[2015-06-28 10:43] rawlingsj opened #4360 "Option to pull all the images in a template"
It would be great if we could have an option to pull all the images in a template before running it.  Once all have been pulled a notification could be sent and also have a way in the console to identify that a template is ready.

If we did this then I wonder if we could have a status / output of the docker pulls as currently I don’t think there’s a way to get this info.  You would then be able to

[2015-06-28 13:33] rawlingsj opened #4361 "Support apps written in Clojure"
I wanted to explore how easy it might be to support Clojure with our development tooling and console.

I was chatting to some developers from https://github.com/mixradio yesterday and it sounded like they're doing some pretty interesting work with Clojure and they've been really impressed since moving to it from Java.  Without knowing too much about Clojure I was wondering if it would work with Jo

[2015-06-28 18:59] rawlingsj commented on #4361
Also worth noting, here's a blog about running camel and Clojure

http://blog.codeabout.info/2010/06/using-apache-camel-from-clojure.html

[2015-06-29 09:46] #4159 closed

[2015-06-29 09:51] davsclaus opened #4363 "Create a Camel start from scratch screencast"
Similar to what I did at the recent conferences.

Show how to create a new Camel project from scratch, and then dockerize it, and deploy on fabric8.

[2015-06-29 10:04] davsclaus opened #4364 "Create a Camel forge IDEA / Eclipse tooling screencast"
How to install it in IDEA and then how it can edit / add endpoints and so on.

[2015-06-29 10:13] davsclaus opened #4365 "Add label to fluentd pod"
On a clean vagrant up, then this pod is the only one without a label.
Also wonder if we could strip out the ip adr of its pod name?

![screen shot 2015-06-29 at 12 18 16 pm](https://cloud.githubusercontent.com/assets/477100/8405902/36f87dc8-1e58-11e5-88e8-321be41e0941.png)

[2015-06-29 10:38] jimmidyson commented on #4365
This is a special kind of pod called a static (or mirror) pod. The reason the IP address is in the pod name is because this runs on every node - adding the IP address is done by Kubernetes/OpenShift & is not configurable.

I can add labels but that is all.

[2015-06-29 13:02] mwringe commented on #4350
I believe that is it for this ticket, so it can be closed.

Is that something you expect the ticket creator to do? Or something the person who did the merging to do?

[2015-06-29 13:34] davsclaus commented on #4350
Thanks. The ticket can be auto closed if the commit message has `fixes #nnn` in the message.

But anyone with the permission to close should fell free to close if a ticket is resolved / no more work.

[2015-06-29 13:34] #4350 closed

[2015-07-01 06:35] #4157 closed

[2015-07-01 10:26] oscerd opened #4375 "mvn fabric8:create-env should output volumes, ports the same way we do with env variables"
I think it can be useful if fabric8:create-env phase prints informations about Volumes, ports and so on, in the same way as we already do with the environment variables? What do you think about?

[2015-07-01 10:53] jstrachan opened #4376 "merge the christian-posta fork of default-jenkins-dsl to the master branch"
these changes should get merged:
https://github.com/christian-posta/default-jenkins-dsl

which might help fix
https://github.com/fabric8io/default-jenkins-dsl/issues/2

maybe we make the Gerrit approval step conditional based on an env var for now? Until we can do it via the fabric8.yml file

[2015-07-01 12:18] davsclaus commented on #4375
yeah good idea. And maybe make it stand out so the user wont easily mix up the new information as ENV variables.

[2015-07-01 12:22] oscerd commented on #4375
Ok, I'll work on this :-)

[2015-07-01 17:29] rawlingsj opened #4379 "screencast of rolling update"
It would be good to have a demo of the rolling update features of kubernetes using our mq and webservice apps.

https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/kubectl_rolling-update.md

[2015-07-01 17:31] paoloantinori commented on #4379
with emphasis on the lifecycle of the components that hold persisted or stateful data, either db or filesystem or anything else.

[2015-07-01 17:57] jstrachan commented on #4086
FWIW a fabric8.yml file is now created by default in the fabric8.yml file if some devops options are selected

[2015-07-01 18:03] davsclaus commented on #4379
Would also be good to have such a function in the web console so ppl can do it from there as well.

[2015-07-01 18:14] rawlingsj commented on #4379
Agreed, that would be great.

[2015-07-01 18:41] christian-posta commented on #4376
Thx for the heads up; i'll get a PR going for this

[2015-07-02 06:56] #4375 closed

[2015-07-02 12:45] jstrachan opened #4383 "add a standup/team status bot"
as described here...
https://medium.com/why-not/what-will-the-automated-workplace-look-like-495f9d1e87da

great way to do automated status reports for teams etc

[2015-07-02 14:48] christian-posta commented on #4354
Would this reduce the complexity of the APIman impl today, i.e., just a single customizable proxy vs api man on top of the java gateway on top of the proxy? @KurtStam how does APIman work today? Does it just sit on top of the existing kube proxy?

[2015-07-02 14:53] christian-posta commented on #4363
You doing this screencast? I did this for one of my demos too, I can whip
up a screencast of it if you'd like

On Mon, Jun 29, 2015 at 2:51 AM, Claus Ibsen <notifications@github.com>
wrote:

--
*Christian Posta*
twitter: @christianposta
http://www.christianposta.com/blog
http://fabric8.io

[2015-07-02 15:01] christian-posta commented on #4383
this is pretty interesting..
i'm partial to and have used  this approach approach a lot in the past (and
currently)  http://blog.idonethis.com/google-snippets-internal-tool/
wonder if slack can do something similar (think it can), or if there's
another opensource project that we could integrate. this would be a crucial
part to the "culture" equation of microservices where the org is a little
more

[2015-07-02 15:01] davsclaus commented on #4363
Ah lovely, I am wokring on the camel web console which has some bugs in 2.x and some stuff I want to add/improve.

Its great when more do screencasts, we should get the habit of recording some more 5 min videos and post on medium.

Love to see what you can do with Camel ;)

[2015-07-02 15:02] christian-posta commented on #4363
Agreed! I'll get on it!

On Thu, Jul 2, 2015 at 8:01 AM, Claus Ibsen <notifications@github.com>
wrote:

--
*Christian Posta*
twitter: @christianposta
http://www.christianposta.com/blog
http://fabric8.io

[2015-07-02 15:07] jimmidyson commented on #4383
While Slack is undoubtedly awesome, we do have to ensure there is an open source alternative IMO as @christian-posta mentioned. Otherwise we're at risk of creating something brilliant but community being put off due to cost, etc. Has anything been looked at yet?

[2015-07-02 15:20] jstrachan commented on #4383
Agreed. I was assuming us reusing/writing an OSS hubot bot that works with all chat back ends (IRC / letschat / slack et al)

[2015-07-02 15:22] rawlingsj commented on #4383
yeah so we have all the building blocks in place already with hubot and lets chat, they work great now and easily extendable for exactly this type of usecase.

[2015-07-02 15:26] rawlingsj commented on #4383
here's the hubot scripts repo https://github.com/fabric8io/fabric8-hubot-scripts

I've actually just refactored the three hubot implementations we use for slack, lets chat and irc to use a common base image that pulls the scripts in when the images are built.  I'll push them shortly.

[2015-07-02 15:26] jstrachan commented on #4354
Its just a different option of the API man http gateway really; to try remove the number of moving parts. And try to avoid folks going 'round the back' and not going through the API man proxy

[2015-07-02 16:56] christian-posta commented on #4261
This can be closed

https://github.com/jstrachan/fabric8/blob/cdelivery/fabric8-maven-plugin/src/main/java/io/fabric8/maven/ApplyMojo.java#L115-115

[2015-07-02 16:56] #4261 closed

[2015-07-02 18:52] jstrachan commented on #4383
this one might be worth a try:
https://www.npmjs.com/package/hubot-standup

I wonder if we could associate chat rooms with projects; so that we can use the team page the project's issue tracker to auto-create the teams? (though I guess we'd need to know folks chat handles too)

[2015-07-02 18:56] jstrachan opened #4386 "lazily create namespaces on the fly in `mvn fabric8:apply` if they don't exist already"
this has come up a few times before https://github.com/fabric8io/default-jenkins-dsl/issues/2#issuecomment-118126409 - the mvn plugin should just check if a namespace exists and if not create it on the fly

[2015-07-02 19:23] christian-posta commented on #4376
This should be closed with https://github.com/fabric8io/default-jenkins-dsl/commit/377c18036f70baf8a35aa91309680978784477bd

[2015-07-02 19:33] #4376 closed

[2015-07-02 19:33] jstrachan commented on #4376
thanks @christian-posta

[2015-07-03 05:13] #4086 closed

[2015-07-03 05:15] jstrachan opened #4389 "provide an editor of the fabric8.yml file on existing projects"
allowing it to be lazily created or updated on existing projects

[2015-07-03 05:27] jstrachan opened #4390 "in 2.2.5 the elasticsearch pod seems to fail to startup"
using the vagrant image with 2.2.5 of fabric8 the ES image restarts every minute or so. Could it be DNS related?
[code]
The 'elasticsearch-cluster' service is at address `None:9300` - I guess thats for DNS discovery. Doesn't look like its working though?

[2015-07-03 07:43] jstrachan opened #4391 "allow mvn fabric8:create-build-config / fabric8:devops to be run in any directory"
we can always try grab the fabric8.yml file from git directly if we run the mvn build from outside the source folder

[2015-07-03 08:03] stevef1uk opened #4392 "Mac - docker versions incompatable"
Just tried the latest fabric8 vagrant image and get:

Error response from daemon: client and server don't have same version (client : 1.19, server: 1.18)

I have just upgraded to the latest version of boot2docker on my mac: Boot2Docker-cli version: v1.7.0

Any workaround?

[2015-07-03 08:34] #4391 closed

[2015-07-03 11:34] jimmidyson commented on #4390
Over eager liveness probe.

[2015-07-03 11:34] #4390 closed

[2015-07-03 11:38] davsclaus commented on #4392
Yeah I think the vagrant openshift + docker is on 1.6.2 still. Hopefully we can upgrade to 1.7.1 when it comes out sometime soonish.

[2015-07-03 11:39] davsclaus commented on #4392
And btw its  docker thing, apparently they want the client and server to must use same version branch.

[2015-07-03 13:43] jstrachan opened #4396 "provide a CLI command and hawtio UI to edit the devops configuration of a project"
which then edits the underlying fabric8.yml file

[2015-07-03 15:40] #4396 closed

[2015-07-03 17:12] stevef1uk commented on #4392
I discovered that the original docker was saved in my ~/.boot2docker directory so I can use that version

[2015-07-03 17:49] stevef1uk commented on #4392
Also, on the +'ve side I am not seeing those device mapper errors anymore. I have tried to run the iPaaS set of applications and my CPU is running red hot, but after a while I get communication errors and the console is no longer responsive. What is the recommended hardware footprint to run fabric8 these days? I may need to switch to AWS.

[2015-07-05 09:02] stevef1uk opened #4399 "Unable to connect to the server: net/http: TLS handshake timeout"
After running up the vagrant image and running the cdelivery everything starts ok.
After a while when running: oc get pods which showed all pods I get the above error.
On my browser I start to get 503 Service Unavailable errors
Other than running it up to take some hawtio screenshots I haven't done anything else.

Previously, I tried creating a project and running it through Jenkins and this happe

[2015-07-05 18:54] breamoreboy commented on #4198
My apologies for my complete ignorance in this field, however I've a vested interest in sorting things out as I'm intending to use the technology on the Python workflow, so please bear with me.

I'm following http://fabric8.io/guide/getStartedVagrant.html and I'm getting this:-

oc login https://172.28.128.4:8443
Unable to connect to the server: dial tcp 172.28.128.4:8443: ConnectEx tcp: A connect

[2015-07-06 06:49] cmoulliard commented on #4383
That could interesting that we support within the yaml config file the
team's setup. We could reuse this feature also to create the list of users
assigned to Gerrit project process

team:
  - pm : user1
  - reviewer: user2
  - reviewer: user3
  - approver: user4

where pm = project manager and user(n) : First Name, Last Name, Account &
Email of the user (example : Charles, Moulliard, cmoulliard,
c

[2015-07-06 07:25] jstrachan commented on #4383
we want to avoid maintaining multiple team lists; as its extra maintenance for teams. So I'd prefer we default to reusing either the issue tracker or git hosting for maintaining the team list. Right now the UI defaults to the Team page of the issue tracker as the canonical list of the team members

[2015-07-06 07:30] cmoulliard commented on #4383
Nevertheless, we offer the possibility with gerrit (
https://github.com/fabric8io/quickstarts/blob/master/apps/gerrit/src/main/fabric8/env.properties#L19)
to define such a list of users. That should not be an extra work to read it
from the yaml config file in order to parameterise next the kube app using
the templateParameter ?

On Mon, Jul 6, 2015 at 9:25 AM, James Strachan <notifications@github.

[2015-07-06 07:34] jstrachan commented on #4383
I'd rather we look at the bigger picture and the user. Do we really want them maintaining by hand a yaml file for team members  just for gerrit and for gogs and taiga too? Why not just populate gerrit from the taiga team for example

[2015-07-06 07:54] davsclaus commented on #4392
You can edit the vagrant file as its set to low spec with 2 cpus and 4gb memory. If you have a more powerful computer then you can inc those values.

[2015-07-06 08:01] davsclaus opened #4400 "Upgrade to docker maven plugin 0.13.0"

[2015-07-06 08:29] rawlingsj opened #4401 "Using OSE v1 getting a 403 when the console attempts to watch the kubernetes and oapi"
This seems to only happen using OSE and a manual install (i.e. not using the vagrant image).  Looking at the request headers in the Network tab of chrome there is no token passed during the request..

[code]

After adding some logging I can see that the userDetails object is empty https://github.com/hawtio/hawtio-kubernetes/blob/master/plugins/kubernetes/ts/watcher.ts#L74

[2015-07-06 08:45] oscerd commented on #4400
I'll take care of this.

[2015-07-06 08:52] rawlingsj commented on #4401
In the resources tab under local storage I can see the bearer token that gets stored after logging in.

[2015-07-06 08:55] jimmidyson commented on #4401
Do you think this could be related to the basic auth changes @jstrachan introduced last week? Wonder if it's worth reverting those & adding those in a separate branch until they work properly?

[2015-07-06 08:58] #4151 closed

[2015-07-06 09:04] rawlingsj commented on #4401
I can try but I think they were isolated changes.  I could try an older version of the console to rule it out though.

Initially I was thinking it might somehow be related to OSE as all the other installs we have are using Origin.  I'll try testing with origin and also an older version of the console to be sure.

[2015-07-06 09:28] oscerd opened #4404 "Camel-tests Forge addons: The furnace container cdi artifact is using a wrong version"
The furnace container cdi is using a version (2.16.2.Final) related  to jboss Forge:

[code]

That version doesn't exists for this artifact, as we can see from:

http://mvnrepository.com/artifact/org.jboss.forge.furnace.container/cdi

We need to use the furnace version (2.18.2.Final).

I'll take care of this.

Andrea

[2015-07-06 11:30] davsclaus opened #4405 "Camel forge - Limit the number of options per screen"
If a component has many options the dialog gets too big. We should instead limit to max 20 options per screen and then have additional screens to set all the options.

For testing try eg the jms component which has many options.

[2015-07-06 13:32] christian-posta commented on #4198
Did the vagrant image come up correctly? Can you ping it?

On Sun, Jul 5, 2015 at 11:54 AM, breamoreboy <notifications@github.com>
wrote:

--
*Christian Posta*
twitter: @christianposta
http://www.christianposta.com/blog
http://fabric8.io

[2015-07-06 13:36] christian-posta commented on #4383
On Mon, Jul 6, 2015 at 12:34 AM, James Strachan <notifications@github.com>
wrote:

We don't want to do that. Sounds like a pain to try to track fine-grained
group membership inside projects. SCM tool and its groups/permissions
should be sufficient, right?

--
*Christian Posta*
twitter: @christianposta
http://www.christianposta.com/blog
http://fabric8.io

[2015-07-06 13:43] m3r00t opened #4406 "[INVALID] Please ignore, wrong post"

[2015-07-06 13:56] gashcrumb commented on #4401
Should actually work fine on OSE AFAIK, the little embedded java console
(openshift-jvm) that's in the openshift console uses the same approach,
also pretty sure I ran hawtio-kubernetes when doing a little OSE testing a
couple weeks ago to manage some stuff and it was alright.  But yeah, worth
maybe testing with an older version of the console just to see if it's an
issue that's been introduced or

[2015-07-06 14:10] jstrachan opened #4407 "indexing nexus/artefactory/mvn central into Elasticsearch"
it'd be really handy to index all the transitive maven dependency metadata for all canary / real releases.

Then we can easily query which products & versions depend on certain versions of things. It'll also help determine which products/projects need to be re-released if an upstream maven dependency needs to be patched

[2015-07-06 14:15] jstrachan commented on #4383
@christian-posta agreed - either the SCM or the issue tracker should be considered the master for teams; they all have a nice UI to add/edit/view teams too. e.g. we default to the Taiga team page by default right now if folks use Taiga.

[2015-07-06 14:58] cmoulliard commented on #4383
You are right. We will keep separate the users part of a team in charge to
handle the stuffs concerning SCM (that we can easily manage using the
different web console) from the technical users accounts required to
interconnect jenkins with gerrit, gogs with gerrit, ... For these technical
accounts, we should offer the possibility to parameterize them using the
yaml config file nevertheless ...

On

[2015-07-06 15:40] #4404 closed

[2015-07-06 15:44] davsclaus commented on #4400
Thanks we also have this plugin version in the quickstarts
https://github.com/fabric8io/quickstarts

[2015-07-06 15:47] #4400 closed

[2015-07-06 15:50] oscerd commented on #4400
Yes. I'll open a ticket on quickstart project also and I'll take care of it
:-)
Il 06/lug/2015 17:44, "Claus Ibsen" <notifications@github.com> ha scritto:

[2015-07-06 16:00] breamoreboy commented on #4198
I've now successfully used oc login, thinking back I'm fairly certain that this was down to comms issues caused by a massive thunderstorm in the UK over the weekend.  However I got this prompt that wasn't mentioned in the docs:-

"The server uses a certificate signed by an unknown authority.
You can bypass the certificate check, but any data you send to the server could be intercepted by others.
U

[2015-07-06 18:20] christian-posta commented on #4278
This seems to be resolved in latest 2.3-SNAPSHOTs
eg:
https://oss.sonatype.org/content/repositories/public/io/fabric8/jube/images/fabric8/fabric8-forge/2.3-SNAPSHOT/fabric8-forge-2.3-20150706.105140-106-kubernetes.json

[2015-07-06 18:22] christian-posta commented on #4030
Seems we should be able to closet this, @cmoulliard?

[2015-07-06 18:24] christian-posta opened #4412 "Gerrit should use secrets and not manual installation of keys"
Gerrit has some plugins enabled by default for creating the Jenkins and Admin users and it requires certificates/keys to do this. We should be using kube secrets/serviceAccounts to access those keys, not the manual steps required now as described here: https://github.com/fabric8io/docker-gerrit/blob/master/scripts/copy-keys-vagrant.sh

[2015-07-06 18:26] christian-posta opened #4413 "Save state of gerrit, taiga, jenkins, gogs, nexus etc via persistent volumes"
right now when gerrit/jenkins/taiga pods get restarted, the projects stored there disappear. we can try to store some of that data in a persistent volume https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/volumes.md

[2015-07-06 18:29] breamoreboy commented on #4198
I've managed to get to http://fabric8.vagrant.f8/kubernetes/apps?main-tab=kubernetes&sub-tab=kube-apps&q= but I didn't see any message "Your connection is not private" hence I can't login.

[2015-07-06 18:44] rawlingsj commented on #4401
Ah yeah just tested with fabric8/fabric8-console:v1.0.8 and the auth token does get passed so I think it might be a bug our side.  I noticed when I added a bit of logging just before the [URI query](https://github.com/hawtio/hawtio-kubernetes/blob/master/plugins/kubernetes/ts/watcher.ts#L72) the UserDetails object whilst was empty it had a reference to GoogleOAuthConfig even though earlier in the

[2015-07-06 19:19] gashcrumb commented on #4401
It'd be interesting to see the Authorization header value for those two other calls to /api/v1/namespaces right above there, think one of them should be a normal GET rather than an upgrade request.  We try from the watcher to fetch the namespaces up front in a pre-bootstrap task so they're available to help make the selected namespace a bit more deterministic.

[2015-07-06 19:48] rawlingsj commented on #4401
Ah ok, yeah here are the other two /api/v1/namespaces.  BTW its accessible via our VPN if that also helps http://fabric8.cd.fabric8.io/.

![screen shot 2015-07-06 at 20 44 49](https://cloud.githubusercontent.com/assets/1457180/8531532/fa6968fe-241f-11e5-813e-630ef0fbce0e.png)

![screen shot 2015-07-06 at 20 45 03](https://cloud.githubusercontent.com/assets/1457180/8531533/fa6c2256-241f-11e5-83cb-5

[2015-07-06 20:00] gashcrumb commented on #4401
Hmm, in my case it's failing due to:

```OPTIONS https://fabric8.cd.fabric8.io:8443/oapi/v1/users/~ net::ERR_INSECURE_RESPONSE```

which then takes me back to the login page.  Do you have the ```ca.crt``` handy?

In any case, this is probably just noise.  We do want to make sure that the google oauth plugin doesn't activate itself at all if there's no config, and definitely need to make sure it do

[2015-07-06 20:07] rawlingsj commented on #4401
Ah that would be awesome if you're on to something there!

I'm not sure about the cert.  I've checked my browser certificates and there's nothing obvious to say which one it is.  I'm not entirely sure what I'm looking for I'm afraid.

[2015-07-06 20:47] gashcrumb commented on #4401
K, worked over the google oauth plugin a bit, think it should reliably disable itself now.  I also changed the google oauth plugin to store all of the token details including the expiry, rather than just the token itself, hopefully caught all the spots where we grab the token from local storage :-).

[2015-07-07 06:33] #4406 closed

[2015-07-07 08:04] jstrachan commented on #4412
passing in user/pwd via environment variables would be even easier for users to get started with gerrit - if its possible to do things that way.

[2015-07-07 08:04] cmoulliard commented on #4030
As we are using the Fabric8 docker-gerrit container now implementing the features described, we can close this ticket

[2015-07-07 08:04] #4030 closed

[2015-07-07 08:07] jstrachan opened #4414 "move all the v1 issues to the jboss-fuse/fabric8 repository"
https://github.com/jboss-fuse/fabric8

maybe using this tool:
https://github.com/IQAndreas/github-issues-import

[2015-07-07 08:07] cmoulliard commented on #4413
docker gerrit image & kube app already use a persistent storage (https://github.com/fabric8io/docker-gerrit#volumes, https://github.com/fabric8io/quickstarts/blob/master/apps/gerrit/pom.xml#L55-L57) which is of course not external as Google Cloud platform proposes

[2015-07-07 08:09] cmoulliard commented on #4412
This is already the case : https://github.com/fabric8io/quickstarts/blob/master/apps/gerrit/src/main/fabric8/env.properties#L12-L19

[2015-07-07 08:10] jimmidyson commented on #4413
We absolutely should support persistent volumes, the problem being this is dependent on what the user wants to use. Not sure how we can set this up in a generic way? Perhaps NFS is the simplest to get going - an example at https://github.com/GoogleCloudPlatform/kubernetes/tree/master/examples/nfs might be useful to try out.

[2015-07-07 08:11] jimmidyson commented on #4413
@cmoulliard That's using a host dir which will not move with the pod if it moves hosts for whatever reason (e.g. host dies).

[2015-07-07 08:14] jstrachan commented on #4412
so we can close this issue then - there's no need for secrets?

[2015-07-07 08:47] cmoulliard commented on #4412
No as we should improve what exist to avoid to copy/paste the keys to the Vagrant host VM as reported by Christian Posta.

[2015-07-07 08:54] jstrachan commented on #4412
When I said user/pwd I meant instead of having to use ssh keys & secrets BTW; then installation is nice and easy. If ssh keys are mandatory then we've no option but to go with secrets though. Its just it requires lots of CLI messing around for customers not using our vagrant images

[2015-07-07 09:59] jstrachan opened #4415 "move the devops connector code out into a separate library so we can use it inside the jboss forge commands or in maven or stand alone"

[2015-07-07 10:33] #4415 closed

[2015-07-07 12:36] jstrachan opened #4418 "add links into the generated/updated fabric8.yml when using the forge tooling to keep a link to the issue tracker / chat room / jenkins builds etc"

[2015-07-07 12:56] jstrachan opened #4420 "rename the mvn goal "fabric8:create-build-config" to be "fabric8:devops""

[2015-07-07 12:58] #4418 closed

[2015-07-07 13:02] christian-posta commented on #4412
@jstrachan yah, secrets removes the dependency of manually configuring the host (which i wanted to get rid of), but then it's on the user to set up the secrets correctly (or whatever automation scripts they use) which is kinda sucky. I've already start to move this to secrets, but wondering if @cmoulliard can recall what options we had? can we just move to username/password like James asked? i.e.,

[2015-07-07 13:04] #4420 closed

[2015-07-07 13:18] christian-posta commented on #4412
or we make a flag to "enable" the gerrit replication stuff and admin user stuff... though it becomes quite a bit less useful in the platform if it's just a stock gerrit app that isn't connected in.

[2015-07-07 13:26] cmoulliard commented on #4412
There is one SSH key which is mandatory until now (= gerrit admin user) as this ssh is used when we will create the gerrit git project from the java plugin used by the maven gerrit create project plugin.

Maybe it will be also required that we have a SSH key if we would like to use the gerrit jenkins plugin. But we should discuss that in another issue ticket

[2015-07-07 14:06] mmaier2 opened #4422 "Openshift login loop"
Hi,

I can't use the hawtio console. I'm stuck in an endless login loop on the openshift login web page before.

I've installed Openshift origin via ansible and deployed the router and registry. Then I've created the necessary config changes for Openshift (scc, service user, secret etc.)  and deployed the pod and configurations for the fabric8 console by processing the template in base-2.2.5.json.

[2015-07-07 14:32] gashcrumb commented on #4422
Any errors on the javascript console?

[2015-07-07 15:10] mmaier2 commented on #4422
Thanks for the tip. There're indeed some messages in the js console:

Sry. This is a german output. But as it seems, first it complains about CORS, and that a header 'Access-Control-Allow-Origin' is missing and therefore it blocks /api/v1/namespaces:

Quellübergreifende (Cross-Origin) Anfrage blockiert: Die Gleiche-Quelle-Regel verbietet das Lesen der externen Ressource auf https://fabric8...:8443

[2015-07-07 15:13] jimmidyson commented on #4422
When you start OpenShift you have to start it with the
"--cors-allowed-origins=.*" flag. That allows the fabric8 console to talk
to the openshift API server which otherwise checks the origin of requests &
rejects unknown sources.

Thanks,
Jimmi

On Tue, 7 Jul 2015 at 16:11 mmaier2 <notifications@github.com> wrote:

[2015-07-07 15:37] mmaier2 commented on #4422
Wow... thanks a lot! I never would have figured that out!

[2015-07-07 15:55] jstrachan commented on #4422
We should make this command line option in kinda bold on the docs page ;)

On 7 July 2015 at 16:37, mmaier2 <notifications@github.com> wrote:

--
James
-------
Red Hat

Twitter: @jstrachan
Email: james.strachan@gmail.com
Medium: https://medium.com/@jstrachan/
Blog: http://macstrac.blogspot.com/

fabric8: http:/ <http://fusesource.com/>/fabric8.io/
hawtio: http:/ <http://fusesource.com/>/hawt.io/

[2015-07-07 15:56] gashcrumb commented on #4422
Yeah, and a FAQ entry too right at the top if we don't have one already :-)

[2015-07-07 15:59] jstrachan opened #4423 "support a simple REST API for OpenShift templates for vanilla k8s so we can load/save templates and get the Run... menu"

[2015-07-07 16:01] jstrachan commented on #4423
using a microservice so we can discover it via the services REST API and can have a few implementations over time - a filesystem one or an Elasticsearch one etc

[2015-07-07 16:21] jstrachan commented on #4389
we've now got the `devops-edit` command in the fabric8 devops forge addons along with the settings button in the fabric8-console for editing the `fabric8.yml` file

[2015-07-07 16:21] #4389 closed

[2015-07-07 16:37] davsclaus commented on #4422
The command is listed today at
http://fabric8.io/guide/getStarted/openshift.html

But we had 2 or more people recently hit this issue. Maybe we could add some INFO box or something to highlight its important to set that cors option.

[2015-07-07 17:16] rawlingsj opened #4424 "adapt fabric8:apply goal to work with plain Kubernetes config on GKE"
if using plain kubernetes on GKE we get the following exception when running fabric8:apply

Note: `~/.kube/config` is used by vanilla kubernetes so maven plugin tries to work with that file as if it was the one from openshift, there must be some difference.

[code]

[2015-07-07 17:41] gtmyers opened #4425 "Install fabric8 with a proxy via Vagrant fails"
I am running on Windows 7 Enterprise and am running the Fabric8 quickstart install via Vagrant/VirtualBox.

I am required to use a proxy to access external sites.  I have configured the following environment vars:
HTTP_PROXY="OMITTED_ON_PURPOSE"
HTTPS_PROXY="OMITTED_ON_PURPOSE"

I have installed the vagrant-proxyconf plugin and set the appropriate variables in the vagrant file:
  config.proxy.http

[2015-07-07 19:37] jimmidyson commented on #4422
This is working now.

[2015-07-07 19:37] #4422 closed

[2015-07-07 19:44] jimmidyson commented on #4425
I think you will need to separately configure docker in the vm to use the proxy. Could you try the instructions at https://docs.docker.com/articles/systemd/#http-proxy & see if that helps? If it does we can try to make it a bit more configurable in the vagrant file.

[2015-07-08 11:57] rawlingsj commented on #4401
This in now working with the latest code from master.

[2015-07-08 11:58] rawlingsj commented on #4401
Thanks for this @gashcrumb @jstrachan

[2015-07-08 12:26] christian-posta commented on #4226
awesome!!

[2015-07-08 13:33] #4226 closed

[2015-07-08 15:37] paulbakker opened #4430 "Kubernetes client library dependency graph is messy"
The list of dependencies required to use the Kubernetes client is quite long. This is mostly caused by transitive dependencies, but that doesn't change the practical issue. Specially running in a bare bone OSGi environment this is painful.

Make the client library more self-contained would make the library more usable in different environments.

I'm the author of another OSGi focussed Kubernetes c

[2015-07-08 17:17] christian-posta commented on #4430
Yah, good point.

Is this similar to issue #4428?

On Wed, Jul 8, 2015 at 8:37 AM, Paul Bakker <notifications@github.com>
wrote:

--
*Christian Posta*
twitter: @christianposta
http://www.christianposta.com/blog
http://fabric8.io

[2015-07-08 17:25] jimmidyson commented on #4430
@christian-posta It was @paulbakker's blog post that kicked @davsclaus into life on #4428 ;) I still think there is more that we can do though as @paulbakker has proven with his Kubernetes client lib.

[2015-07-08 19:33] jstrachan opened #4432 "auto create jenkins jobs for a chosen flow in fabric8.yml"

[2015-07-08 19:37] #4432 closed

[2015-07-09 09:44] rawlingsj opened #4437 "CD workflow for fabric8 apps"
So thinking about creating a docker workflow to automate the build, test and release of one of our quickstart apps.  I figured I'd write out the steps I'm thinking then we can all pitch in with ideas or thoughts on how it should work.  Once done we can turn this into docs and record a demo.

OK so lets use the hubot slack app to start with.  It's simple, small, not in use by anyone yet to my knowl

[2015-07-09 09:57] jimmidyson commented on #4437
Each app in it's own git repo I assume? Versioned independently?

[2015-07-09 09:58] rawlingsj commented on #4437
@jimmidyson yeah correct each app should be in it's own git repo

[2015-07-09 10:24] jstrachan opened #4438 "allow the chosen Jenkins Workflow to be copied into the project's source code and automatically setup a corresponding jenkins build"
for local flows, there's no need to use a parameterised build on GIT_URL

[2015-07-09 10:27] rawlingsj commented on #4437
What would be good is for the human approval step to be via jenkins but you could also trigger it using hubot, something like..
`> fabric8 release hubot-slack-app v1.0.1`
Hubot would then trigger the Jenkins docker workflow.

[2015-07-09 10:32] #4438 closed

[2015-07-09 11:23] jstrachan commented on #4437
Right now there are so many manual steps to getting a release out; I was hoping we'd automate the following flow ASAP first:

* release fabric8io/fabric8
* submitting the PR on fabric8io/quickstarts with the new version of `<fabric8.version>...</fabric8.version` in each pom.xml
* when the PR is merged release fabric8io/quickstarts with the same version
* when thats done and a human approvaes submi

[2015-07-09 11:42] rawlingsj commented on #4437
Yeah fair enough, the other reason I was suggesting starting with the apps was because a few of them dont have tags in dockerhub yet and I lost an hour to that yesterday.  Having said that you're point about the dockerfile and the k8s config being collocated feels better so yeah lets get fabric8 done first and then tackle the apps after.  It would be good once we're there though to tackle the dock

[2015-07-09 12:18] paulbakker opened #4440 "Kubernetes Node.getStatus().getCapacity().get("memory").getAmount() incorrectly serialized"
The "amount" property on the capacity specification of a Kubernetes node is serialized as number. This is strange since "getAmount" returns a String. It is also incorrect, because Kubernetes returns values like "3528176Ki" for memory.

[2015-07-09 12:30] jimmidyson commented on #4440
@paulbakker Pushed a fix to the kube model project - would you be able to try the SNAPSHOT version to see if it fixes the problem? Project repo is https://github.com/fabric8io/origin-schema-generator. Simple `mvn clean install` should do it.

[2015-07-09 12:35] paulbakker commented on #4440
The fix works, thanks for responding so quickly!

[2015-07-09 12:44] jimmidyson commented on #4440
We aim to please ;) We'll get a release out of the model out now too - we need a few fixes in it.

[2015-07-09 12:44] #4440 closed

[2015-07-09 12:52] NathanCisco opened #4441 "Host sudo password required by landrush"
Hi

Upon see this below, it took me a while to realise that it was the *host* sudo password that was required. A small note on that might help others in the future.

==> default: [landrush] Need to configure the host.
==> default: [landrush] Mometarily using sudo to put the host config in place...
Password:

Regards

Nathan

[2015-07-09 14:36] NathanCisco opened #4442 "OSX - This webpage is not available"
The full log of the up is below. The upshot is that the service seems not to be available after the up using Chrome, Safari or Firefox.

Regards

Nathan

$ vagrant up
Bringing machine 'default' up with 'virtualbox' provider...
==> default: Importing base box 'jimmidyson/centos-7.1'...
==> default: Matching MAC address for NAT networking...
==> default: Checking if box 'jimmidyson/centos-7.1' is up

[2015-07-09 14:50] davsclaus commented on #4442
Hi

Is this web page not working if you type the url in a browser

- http://fabric8.vagrant.f8/

Also can you login to os using the os client, eg type from shell

    os login

And the user and pw is admin/admin

And you should then be able to do a

   oc get pods

And you can see if there is a route for the web console with

   oc get routes

[2015-07-09 14:59] jstrachan commented on #4442
@NathanCisco what happens in the Chrome JavaScript console if you try: http://fabric8.vagrant.f8/

We've seen some issues in the past where a reload helps ;) We're just cutting a new release as I type which has fixed some timing based gremlins on startup.

Kubernetes is using a self signed certificate; so usually you get the Chrome warning about the cert and have to click "Accept" then "Proceed".

[2015-07-09 16:12] NathanCisco commented on #4442
Hi

The “os login” command did not work:

os login
-bash: os: command not found

But vagrant ssh did, and:

$ vagrant ssh
Last login: Wed Jun 24 19:14:59 2015 from 10.0.2.2
$ oc get pods
Error in configuration: default cluster has no server defined
[vagrant@vagrant ~]$ oc get routes
Error in configuration: default cluster has no server defined

Any ideas?

Many thanks

Nathan

On 9 Jul 2015, at 16

[2015-07-09 17:32] davsclaus commented on #4442
Ah you can install the oc commands locally on your osx computer. Then you can use those commands from your regular terminal.

The install guide for that is here
http://fabric8.io/guide/getStarted/local.html

for the login you need to tell the server the first time

     oc login --server=https://172.28.128.4:8443

And btw there is also a great 5 min video how to install  it all from scratch that @

[2015-07-09 17:35] davsclaus commented on #4442
And yeah the usual trouble could be that as @jstrachan said the web console can have some difficilties to login. However that should likely be sorted in upcoming release.

Also the elastich-search / kibana may restart due an error in 2.2.5. To work around that you can use the os scale to set their replication controllers to 0. But the next realese 2.2.6+ should have that fixed.

[2015-07-09 17:42] christian-posta commented on #4442
Whenever @davsclaus says "os" he really means "oc"

:)

On Thu, Jul 9, 2015 at 9:12 AM, Nathan Sowatskey <notifications@github.com>
wrote:

--
*Christian Posta*
twitter: @christianposta
http://www.christianposta.com/blog
http://fabric8.io

[2015-07-09 17:47] davsclaus commented on #4442
@christian-posta - nice catch.

You I am too old to learn new command names, so the command used to be named osc, then they renamed it to something with only 2 letters, and apparently I always get that wrong - its like the USB sticks, 50/50 and your first try was the wrong one.

[2015-07-09 21:04] oscerd commented on #4057
Do you mean something like:

[code]

and suppose I have a property like

[code]

I'll have varbar=bar inside my envinroment variables map?

[2015-07-09 21:05] oscerd commented on #4057
It's similar to https://github.com/fabric8io/fabric8/blob/07807aed847e1d0589c094461544e54a2677cbf5/fabric8-maven-plugin/src/main/java/io/fabric8/maven/ApplyMojo.java#L242

[2015-07-09 21:05] oscerd commented on #4057
I'll work on this.

[2015-07-09 21:12] oscerd commented on #4057
I'll work on this.

[2015-07-10 08:01] jstrachan commented on #4057
yes - thanks!

[2015-07-10 09:38] jstrachan commented on #4442
@NathanCisco if you want to work inside the vagrant with `oc` then type
[code]

[2015-07-10 09:51] NathanCisco commented on #4442
Thanks al :-)

I redid the vagrant up and tried connecting with Chrome a few times:

This webpage is not available

ERR_CONNECTION_REFUSED
Hide details
Google Chrome's connection attempt to fabric8.vagrant.f8 was rejected. The website may be down, or your network may not be properly configured.
Search on Google

I also checked with the firewall on OS X turned off.

So, on to the other suggestions:

[2015-07-10 10:15] jstrachan commented on #4442
So it looks like things are running OK from the 2nd vagrant session. When on your mac you need to point at the URL of the kubernetes server (its not on localhost).

see http://fabric8.io/guide/getStarted/local.html#install-the-openshift-binaries-to-your-path
[code]

that should do it.

So I wonder if you
[code]
The DNS should be running in vagrant to point it to `172.28.128.4` which is then served

[2015-07-10 10:21] jstrachan commented on #4442
BTW the regular openshift web console should appear at https://172.28.128.4:8443/console which shouldn't require any DNS magic or haproxy stuff to work; so hopefully is working for you!

At least you'll be able to look around a little at kubernetes. But we need to get DNS / services / haproxy working to do anything useful and fun like use the fabric8 console and work with jenkins etc...

Its so cl

[2015-07-10 10:27] oscerd opened #4445 "Maven Surefire Plugin: ForkMode is deprecated"
In parent/pom.xml, fabric8-cxf/pom.xml and kubernetes-jolokia/pom.xml we are currently using deprecated forkMode in Surefire Configuration.

I'll take care of this issue.

[2015-07-10 10:53] jstrachan commented on #4340
I raised an issue against the docker workflow plugin in case anyone in the jenkins community is looking at this kinda thing too https://issues.jenkins-ci.org/browse/JENKINS-29342

[2015-07-10 16:08] #4445 closed

[2015-07-10 16:27] jstrachan opened #4448 "allow KUBERNETES_POD env var to be generated for the POD ID by the mvn plugin"

[2015-07-10 16:31] #4448 closed

[2015-07-10 20:37] elibixby commented on #4340
Not sure if this helps but I've been working on a [Kubernetes Workflow Steps Plugin](https://github.com/GoogleCloudPlatform/jenkernetes) that allows you to provision pods on the fly with workflow steps. Combined with the docker build step plugin this could get you something like what you want.

[2015-07-11 13:48] #4286 closed

[2015-07-11 13:52] #4216 closed

[2015-07-11 13:53] #4215 closed

[2015-07-11 13:54] jstrachan commented on #4287
We are using the docker plugin so have a slave pool now. But using kubernetes & pods would be nicer!

[2015-07-11 14:26] #4057 closed

[2015-07-13 08:35] jstrachan opened #4455 "chaos monkey defaults to an includes pattern of `${CHAOS_MONKEY_INCLUDES}` if run via the console which doesn't match any pods"

[2015-07-13 08:52] #4455 closed

[2015-07-13 11:14] jstrachan commented on #4340
thanks @elibixby jenkernetes has been on my lists of things to check out; looks like I'll be noodling it quite soon! :)

Yeah, I'd seen the Kubernetes workflow steps plugin which is cool. My aim was to be able to take any docker workflow plugin groovy file and run it as is on kubernetes / jenkernetes without having to change the script. So keeping the docker workflow semantics really; just making

[2015-07-13 12:33] rawlingsj commented on #4401
Reopened - seems this might be a timing issue.  It might be that there's no token available when the initial namespace request is made.

[2015-07-13 17:08] elibixby commented on #4340
@jstrachan Sorry I think I'm missing something. Why do you need a disk for your slaves?

[2015-07-13 17:13] jstrachan commented on #4340
@elibixby so the docker workflow in jenkins lets you run parts of your build in different docker containers. e.g. a docker container for maven, one for nodejs, one for golang etc. Its a docker based replacement for the 'tools installation' stuff in jenkins.

e.g. here's an example that runs a couple of docker images:
https://github.com/jenkinsci/docker-workflow-plugin/blob/master/demo/repo/flow.gr

[2015-07-13 17:24] elibixby commented on #4340
@jstrachan I see. This is potentially another use case for [volume containers in k8s](https://github.com/GoogleCloudPlatform/kubernetes/issues/831) which would be the ideal solution. Store the workspace for a job on a volume container, when a new slave is cut push the volume, and pull it down on the pod.

However, there is a large amount of communication given by the fact that they are running in

[2015-07-13 18:08] jstrachan commented on #4340
@elibixby thanks for the heads up on volume containers. Yes that sounds like a great idea!

Oh and supporting docker workflow DSL inside jenkernetes would be awesome :)

[2015-07-13 20:22] stevef1uk opened #4458 "Installation on OpenShift Origin V3"
Hi,

I have been trying to install the fabric8 console app on the latest vagrant OpenShift release but I don't think the installation documentation is still accurate. Please can someone confirm if this is true  or whether I just need to follow more carefully?

Regards

Steve

[2015-07-14 09:02] rawlingsj opened #4459 "Console hosts tab only shows nodes if pods are running on them"
It would be good to display all nodes in the cluster whether they have pods running on then or not.

[2015-07-14 09:22] jstrachan opened #4460 "better error message if the maven tooling can't find the kubernetes master URL"
see
[code]

[2015-07-14 09:58] davsclaus opened #4461 "App - Install quickstarts-http or -rest will default with vagrant.f8 as domain"
which should be template to pick the host, eg such as demo.fabric8 which we use etc.

![screen shot 2015-07-14 at 12 03 55 pm](https://cloud.githubusercontent.com/assets/477100/8670736/a1178a14-2a1f-11e5-93cd-c73dfe4fdf48.png)

[2015-07-14 10:30] rawlingsj opened #4462 "Images with a prefix of docker.io prevent nodes using the local registry"
If a pod references docker image names with a prefix of docker.io this means all nodes will pull directly from dockerhub rather than using a local registry.  This isn't great especially if running in a cloud environment where you are charged for download traffic.

[2015-07-14 10:47] rawlingsj opened #4463 "Run button only appears in the default namespace"
As the Run button only appears in the default namespace you are not able to run a template that doesn't require and template values, to be scheduled in a namespace other than default.

For example the mq producer and consumer apps can only be run in the the default namespace from the console.

[2015-07-14 11:12] gashcrumb commented on #4463
You can,  however flip over to the default namespace and select a different
namespace to actually run a template in.

On Tue, Jul 14, 2015, 6:47 AM James Rawlings <notifications@github.com>
wrote:

[2015-07-14 11:47] davsclaus commented on #4458
The install guide should be up to date.

Have you resolved your issue? You can get faster help on irc on fabric8 on freenode
http://fabric8.io/community/index.html

[2015-07-14 11:48] davsclaus commented on #4458
Ah also we have ready to use vagrant with os in the fabric8-installer project
https://github.com/fabric8io/fabric8-installer

[2015-07-14 16:14] rawlingsj commented on #4463
Ah yeah sorry, I missed it there, I thought the target namespace option was only available if you were overriding template values.  Thanks @gashcrumb.

[2015-07-14 17:15] christian-posta commented on #4458
Where are things nog working?

On Mon, Jul 13, 2015 at 1:22 PM, stevef1uk <notifications@github.com> wrote:

--
*Christian Posta*
twitter: @christianposta
http://www.christianposta.com/blog
http://fabric8.io

[2015-07-14 17:15] mmaier2 opened #4467 "OSE 3: deploying messaging-2.2.5.json in a project"
Hi,

I'm trying to deploy the messaging template within in a project in OSE 3. I've followed the settings for openshift native (recreate scc, fabric 8 user, secrets etc) for my project.  But I can't get the fabric8mq controller and pod deployed. Log says
[code]

Any clues? "devel" should be the project.
As the cluster admin in default project the deployment of the template works... but that's not

[2015-07-14 17:27] jimmidyson commented on #4467
It's trying to deploy privileged containers for some reason. Can't think why. @rajdavies Any clues why fabric8mq needs to run privileged?

[2015-07-14 19:43] jimmidyson commented on #4462
@rhuss Why do we need this prefix again? I assume we could just override `fabric8.dockerPrefix` property when building to use the openshift cluster's registry?

[2015-07-14 19:47] rhuss commented on #4462
The problem is with Docker on Fedora/CentOS: https://bugzilla.redhat.com/show_bug.cgi?id=1241950

Therefore we introduced in the Quickstart a ${docker.registryPrefix} in the image name which by default is empty (so shouldn't be an issue) and for a release we set it in Jenkins to 'docker.io/'.

[2015-07-14 19:48] rhuss commented on #4462
@jimmidyson : Yes, you can set it simply to the cluster's registry prefix or leave it empty if the Docker host is configured to use OS's registry as default.

[2015-07-14 19:59] jimmidyson commented on #4462
Are there any docs that need updating for users to know about this & how to
use it properly with a local registry or is this done already?

On Tue, 14 Jul 2015 at 20:48 Roland Huß <notifications@github.com> wrote:

[2015-07-14 20:22] stevef1uk commented on #4458
Claus, yes I know about the fabric8-installer and that works fine for me.

I was interested in trying to run fabric8 on vanilla Openshift origin V3. The problems I experienced are many and various. The initial problem is that OpenShift starts under localhost. Then when  I finally got the Fabric8 console running I couldn't figure out how to access it from the host as the mvn plugin for fabric8 to c

[2015-07-14 20:43] jstrachan opened #4468 "create a simple templates service that can run on vanilla k8s so that folks can load templates and run them via the console like with openshift"
this is hopefully a temporary work around until kubernetes really gets some kind of Template support!

[2015-07-14 23:14] christian-posta commented on #4278
we should reopen this. i'm finding the maven plugin to not generate the service object in the kube json when building locally. anyone else? even tried @cmoulliard workaround (which should invoke that ModelProcessor thingy right? https://github.com/fabric8io/quickstarts/blob/master/apps/gerrit/src/main/java/io/fabric8/app/gerrit/GerritModelProcessor.java

[2015-07-15 06:42] jstrachan opened #4469 "only use OpenShift specific features like creating Routes / OAuthClients / Templates if running on an actual OpenShift version of Kubernetes"
so that tools like `mvn fabric8:apply` just work - whether on k8s or openshift

[2015-07-15 07:17] davsclaus commented on #4458
Ah good to hear. I think @jstrachan and others are looking into running fabric8 on pure kubernetes as well. I think they got it almost working, some glitches in the web console but its getting there.

[2015-07-15 07:26] stevef1uk commented on #4458
Claus, good to know. I will try again in a few weeks.

[2015-07-15 07:32] jimmidyson commented on #4278
@christian-posta I added prometheus yesterday & service is generated properly for me... wonder if it's something specific to the gerrit app? I'll take a look.

[2015-07-15 08:18] jstrachan opened #4470 "add a new mvn fabric8:recreate goal so its quicky and easier to recreate resources instead of the more verbose `mvn fabric8:apply -Dfabric8.recreate=true`"

[2015-07-15 08:27] jimmidyson commented on #4278
@christian-posta It's to do with the change in model packages - i'll fix that now.

[2015-07-15 08:29] #4469 closed

[2015-07-15 08:29] #4470 closed

[2015-07-15 08:45] jstrachan opened #4472 "lets add explicit annotations to show services in the Open > UI in the console"
we should annotate services that we wish to appear in the Open > console.

Providing a label and tooltip for them too; that we can use to show the application in the Open > menu.

e.g. in this menu:

![Open > button](https://cloud.githubusercontent.com/assets/477100/8694148/16d74d8a-2add-11e5-822e-fc3b02d43892.png)

right now its showing the service IDs and showing lots of stuff we don't want to b

[2015-07-15 08:45] jstrachan commented on #4472
maybe the mvn plugin should automatically populate these annotations unless explicitly disabled?

[2015-07-15 08:54] davsclaus commented on #4472
+1 and the tooltip can also be shown in the services page.

[2015-07-15 09:04] jstrachan commented on #4472
agreed.

I was thinking we should add the name / description as annotations to each service / RC really anyway

[2015-07-15 09:48] jstrachan opened #4473 "API Registry UI is missing from the fabric8 console"

[2015-07-15 11:14] jstrachan opened #4474 "mvn fabric8:apply has been hard coded to use recreate mode for a while - ignoring the `fabric8.recreate` flag value"

[2015-07-15 11:20] #4474 closed

[2015-07-15 14:03] jimmidyson commented on #4278
@christian-posta Updated quickstarts, seems ok. Can you try now please?

[2015-07-15 17:42] davsclaus opened #4477 "Camel forge - Add command to add/update kubernetes services in pom.xml"
For example to define a service in kubernets.json, you can specify this in the pom.xml using 3 properties.

See this example
https://github.com/fabric8io/quickstarts/blob/master/quickstarts/war/camel-servlet/pom.xml#L55

[code]

So the command should take in 3 options

- service name
- service port
- container port

In the example above container port is the internal port the the contiainer uses e

[2015-07-15 17:44] davsclaus commented on #4477
Maybe this command is a bit similar to camel-setup
https://github.com/fabric8io/fabric8/blob/master/forge/addons/camel/src/main/java/io/fabric8/forge/camel/commands/project/CamelSetupCommand.java

It can be used as inspiration / starting point.

And to update properties in the pom.xml to add/edit those 3, then see this how it can be done
https://github.com/fabric8io/fabric8/blob/master/forge/addon

[2015-07-15 18:42] oscerd commented on #4477
I'd really to work on this if possible :-)

[2015-07-15 23:36] christian-posta commented on #4278
@jimmidyson yah, building locally it looks like services are back! thanks!!

[2015-07-15 23:36] #4278 closed

[2015-07-16 09:35] #4468 closed

[2015-07-16 10:51] rawlingsj commented on #4401
Tested with 2.2.9.1 and all working.

[2015-07-16 10:51] #4401 closed

[2015-07-16 11:08] jstrachan opened #4478 "allow pure kubernetes JSON to be generated for folks who want to provide a pure k8s version of OpenShift templates"

[2015-07-16 11:17] jstrachan opened #4479 "create a stand alone non-Template kubernetes JSON for running the fabric8 console and templates service on vanilla kubernetes / GKE"

[2015-07-16 11:23] #4478 closed

[2015-07-16 11:39] #4479 closed

[2015-07-16 15:47] #4477 closed

[2015-07-17 07:31] oscerd opened #4484 "Camel-Forge: Remove Component Command"
Hi,

I've noticed we have an add-component command in Camel-forge and no remove-component command.

Do we need a remove-component command?

Andrea

[2015-07-17 08:24] jstrachan opened #4485 "broken fabric8 console template on openshift"

[2015-07-17 08:24] jstrachan commented on #4485
my bad - didn't realise template parameter values don't tend to get expressions replaced inside them yet :(

[2015-07-17 08:39] davsclaus commented on #4484
I am not so sure it adds so much value. The benefit of the add is that its a wizard that can help discover the component you are looking for - eg I want to add a NoSQL component, and then there is a wizard to show the components that can do that etc.

Removing a component complicates matter as you would likely need to detect if the component is in use, and if so warn the user etc.

[2015-07-17 08:56] oscerd commented on #4484
You're right.

[2015-07-17 09:00] #4485 closed

[2015-07-17 14:56] rawlingsj opened #4488 "Some apps depend on openshift-secrets which causes issues when running on vanilla Kubernetes"
As a work around to getting the messaging app to run I created an empty secret called openshift-secrets.

[code]

[2015-07-17 15:17] jimmidyson commented on #4488
If that actually worked with empty secrets then the secret isn't required at all... worth removing from the app.

[2015-07-17 15:34] oscerd commented on #4484
However, we can think of some new commands to add to available set.

[2015-07-18 13:32] #4484 closed

[2015-07-18 14:09] vianetman commented on #4442
I'm in the same boat. The regular console at https://172.28.128.4:8443/console works, but http://fabric8.vagrant.f8/ does not.

On install I was having this issue in Vagrant: https://github.com/coreos/coreos-vagrant/issues/163

I resolved it by taking this fix: https://github.com/kaorimatz/vagrant/commit/73d5718da3efc3f1f6e34756916234b773c36385

Here is my router service config from the default pr

[2015-07-18 16:43] vianetman commented on #4442
Problem solved for me. I had to both destroy the Vagrant app and the VirtualBox container and then reinstall everything. This is after accepting the vagrant fix above.

vagrant destroy -f
vagrant box remove jimmidyson/centos-7.1
vagrant up

[2015-07-18 18:33] oscerd commented on #4405
Claus, what command do you mean? Camel-info?

Andrea

[2015-07-19 07:06] davsclaus commented on #4405
Ah its the camel-edit-endpoint or camel-add-endpoint that would have this. For example if you have a Camel project with routes in XML and you have a jms endpoint then the edit dialog shows 80+ options in one page, and therefore it scrolls out of the screen.

I guess a screenshot would have been good when I logged the ticket.

To reproduce you can load the camel-servlet quickstart into forge
https:

[2015-07-19 07:07] davsclaus commented on #4405
Also maybe this needs to be for the GUI only, as the CLI can just show all the options.

Also maybe this is a general problem and the forge guys have some thoughts how to make wizards with many options that could auto do multiple steps if needed.

[2015-07-19 10:54] oscerd commented on #4405
Ok, I'll work on this.

[2015-07-19 12:02] oscerd commented on #4405
Actually, if I change servlet endpoint to jms endpoint I get something like this in Forge console:

![image](https://cloud.githubusercontent.com/assets/5106647/8765782/a2abd45e-2e1e-11e5-9f05-55675751ea9d.png)

[2015-07-19 12:42] oscerd commented on #4405
From my point of view the problem is only on the GUI side (I need to do tests). Actually the CLI scale the output based on the options size, so there are no problem (tested with JMS and FTP component)

[2015-07-19 12:42] oscerd commented on #4405
I'm using Forge-2.17.0.Final

[2015-07-19 13:03] davsclaus commented on #4405
If you use IDEA then you can install forge plugin from the plugin manager in IDEA. Then it uses the addons you have installed from forge CLI.

You can then start forge from IDEA using ALT + CMD + 4

[2015-07-19 13:24] oscerd commented on #4405
I'm using Eclipse and, as always, using plugins is a nightmare.
Recently I've done some test with Forge. What I see is the following:

- Some of the new versions of camel, kubernetes, devops, openshift etc. addons are based on the latest version of Forge, 2.16.2 and 2.17.0 (to be precise). Trying to install these addons on older version of Forge doesn't work.
- The latest stable eclipse plugin of

[2015-07-19 13:35] davsclaus commented on #4405
Yeah for Eclipse its a bit of pain - I think there is some JBDS Eclipse plugins / distribution that has newer Forge version.

[2015-07-20 09:04] oscerd opened #4498 "Camel-Forge: instanceName TODO. If we already have an instance with the specified instance name return null as default value"
I've noticed some TODOs inside the following command:

- CamelAddEndpointRouteBuilderCommand
- CamelNewComponentInstanceCDICommand
- CamelNewComponentInstanceSpringCommand
- CamelAddEndpointXmlCommand

These TODOs are about instanceName. If we already have an endpoint with the specified instanceName, then the default value of instanceName must be null.

[2015-07-20 15:07] jstrachan opened #4499 "generated archetypes should have parameterisable docker prefix and user"

[2015-07-20 15:39] jstrachan opened #4500 "new serviceAccountName schema doesn't work on pre-1.0.2 openshift"
we should maybe generate serviceAccount and serviceAccountName for now?

[2015-07-20 15:50] #4498 closed

[2015-07-20 15:55] #4386 closed

[2015-07-20 16:01] jstrachan opened #4504 "mvn fabric8:apply should default to deleting all old pods on an RC update"

[2015-07-20 16:08] #4504 closed

[2015-07-20 21:28] #4499 closed

[2015-07-21 08:47] jstrachan opened #4506 "validate the generated json files at compile time"
we generate lovely kubernetes json now at compile time with the lovely APT / builder stuff. But we can make mistakes with IDs quite easy that don't easily get detected sometimes until after a release.

Can we at compile time validate the generated DTOs and fail the build earlier?

[2015-07-21 08:51] jstrachan commented on #4506
maybe we should validate in the fabric8:json or fabric8:attach goals so however things get generated we can still validate?

[2015-07-21 11:19] jstrachan opened #4508 "openshift 1.0.2 breaks the creation of BuildConfig objects"
looks like `github` -> `GitHub` and `generic` -> `Generic` on the BuildConfig

[2015-07-21 11:19] jstrachan opened #4509 "add the environments to the fabric8.yml along with the links in the console"

[2015-07-21 11:24] #4509 closed

[2015-07-21 15:53] jstrachan opened #4512 "create an image linker microservice we can use to make it easier to post embedded PNG files into chat windows in textual / letschat from things like grafana"

[2015-07-21 16:30] #4512 closed

[2015-07-21 19:03] mwringe opened #4513 "Kubernetes API cannot handle secrets in kubernetes.json file"
io.fabric8.kubernetes.api.Controller.java currently does not handle secrets in ApplyEntity and they are ignored if present in a kubernetes.json file. This means tests cannot be performed if a secret is required.

[2015-07-21 19:06] mwringe commented on #4513
PR: https://github.com/fabric8io/fabric8/pull/4514

[2015-07-21 19:10] mwringe opened #4515 "Arquillian dependencies should support more than just lists"
Currently when adding a dependency, only the List type of a kubernetes artifact is supported.

See: https://github.com/fabric8io/fabric8/blob/master/components/fabric8-arquillian/src/main/java/io/fabric8/arquillian/kubernetes/SessionListener.java#L123

We should be able to support single entity kubernetes components here as well.

[2015-07-21 19:35] jstrachan commented on #4513
FWIW ServiceAccounts are preferable to Secrets; we try use them where possible in kubernetes.json files

[2015-07-21 19:38] jimmidyson commented on #4513
They serve different purposes.

Service accounts are used to provide generated token mounted in the pods that can be used to auth to api server.

Secrets should be used for other kind of secret info: certificates, ssh keys, shared keys, etc rather than any kind of auth token to the api server.

[2015-07-22 10:13] jstrachan opened #4517 "canonical way to represent post-canary release integration tests in maven using maven failsafe plugin?"
the canonical way to use the maven failsafe plugin is by enabling the verify and integration test executions:
http://maven.apache.org/surefire/maven-failsafe-plugin/usage.html

though the downside is that means that it kicks in at 'mvn install' or 'mvn docker:build' which isn't much use to folks wanting to do a full canary release of an entire project; then to run a separate integration test in a

[2015-07-22 10:17] jstrachan opened #4518 "lets annotate the generated arquillian namespace/project with as much metadata as we can find"
e.g. the maven coordinates and the git URL of the project; so that its easier to associate namespaces the user can see with individual projects / source code

[2015-07-22 10:53] #4518 closed

[2015-07-22 13:15] rawlingsj opened #4520 "Unable to login using OpenShift oauth after chrome 44 update"
When trying to log in we keep getting redirected back to the login page.

[2015-07-22 13:16] jstrachan opened #4521 "it'd be awesome if by default (unless disabled via a build parameter / env var) failed integration tests kept the kubernetes namespace up using jenkins workflow..."
... so that developers could look around and inspect the failed pods/tests before everything is destroyed.

e.g. maybe we could use the jenkins workflow; if a flag is set then a new namespace is created for the build + build number; the integration test is run using that namespace without deleteing it.

If the test passes it can be deleted; otherwise; its kept around until the user approves it; th

[2015-07-22 13:27] gashcrumb commented on #4520
Maybe configure your browser to stop prompting you after you've accepted the certificate, check my comments in this issue -> https://github.com/hawtio/hawtio-kubernetes/issues/41

Try hitting the API directly in your browser after making that config change and accept the certificate, should work fine after that.  Other option is to fetch the ca.crt and import it as a trusted CA into your browser.

[2015-07-22 13:30] rawlingsj commented on #4520
Ah the github link hasn't come through but there's a fix building https://github.com/fabric8io/quickstarts/pull/622

But yeah I'll also add sone docs on how to import the certificate.

[2015-07-22 13:31] gashcrumb commented on #4520
Ah, cool :-)

[2015-07-22 14:39] jstrachan commented on #4520
So adding the root certificate is the easiest fix: http://www.accuweaver.com/2014/09/19/make-chrome-accept-a-self-signed-certificate-on-osx/

hopefully we'll have some docs really soon on how to do this

[2015-07-22 14:59] rawlingsj commented on #4520
Fix was in the quickstarts repo and I didn't reference the project so issue didn't auto close.

Fix is in PR fabric8io/quickstarts/pull/622

[2015-07-22 14:59] #4520 closed

[2015-07-22 15:45] jstrachan opened #4524 "rename the kubernetes integration tests to *KT.java so they are easier to run via failsafe in a separate canary release flow"
which is inline with the current idea of #4517 for now so that the integration tests are fired automatically before the stage

[2015-07-22 16:03] jimmidyson commented on #4201
No longer a problem.

[2015-07-22 16:03] #4201 closed

[2015-07-22 16:13] #4524 closed

[2015-07-22 17:39] jstrachan opened #4528 "fabric8 arquillian cannot discover the kubernetes master using ~/.kube/config or the kubernetes environment variables ($KUBERNETES_SERVICE_HOST/PORT etc)"

[2015-07-22 17:45] #4528 closed

[2015-07-22 17:55] jstrachan opened #4530 "mvn fabric8:apply is not correctly deleting pods running the old configuration when we update an RC configuration"

[2015-07-22 18:00] #4530 closed

[2015-07-22 18:02] rawlingsj commented on #4520
Here are the docs on accepting the self signed certs on OSX and Chrome http://fabric8.io/guide/getStarted/browserCertificates.html

[2015-07-23 06:14] SirIle commented on #4520
While trying that I have the address of the certificate as 10.0.2.15 and Chrome is still complaining that the certificate is not valid (red x in the address bar) as it doesn't match the site fabric8.vagrant.f8 and the login is in an infinite loop where I'm being redirected back to the login page even though I give the correct credentials.

[2015-07-23 07:44] rawlingsj opened #4532 "Create an install script to run on linux"
It would be good if we had a script that was similar to the one in our vagrantfile that installed and setup a linux box with fabric8 using the origin / kubernetes binaries.

[2015-07-23 07:58] jimmidyson commented on #4532
Are there no RPMs available for this?

[2015-07-23 08:54] rawlingsj commented on #4520
@SirIle which version of the base template are you using? There was a code fix so you'll need v2.2.15.1..

[code]

[2015-07-23 09:01] donovanmuller commented on #4310
Using the [Vagrant image](http://fabric8.io/guide/getStarted/vagrant.html) I'm trying to run apiman app from the [API registry](http://fabric8.io/guide/apiRegistry.html) section of the docs.

Clicked Run and everything pulled and started up.
Clicking the route `apiman.vagrant.f8` however, bring you to a Jetty 404 Not found page. I tried looking for a context root without success.
The apiman and pr

[2015-07-23 09:57] SirIle commented on #4520
@rawlingsj I'll check that, I used the latest version of the fabric8-installer, is it supposed to pull the newest versions of the template also? I'm practically trying the installer for the first time and I ran into this and just saw that someone had raised the issue for the same thing I was experiencing when doing things following the guide. Or in other words, should vagrant destroy && vagrant up

[2015-07-23 10:24] oscerd opened #4534 "Camel-Forge: Show endpoint options command"
I think it can be useful to have a command like this.

What do you think about?

[2015-07-23 10:30] KurtStam commented on #4310
Hi @donovanmuller, you will need to restart your fabric8 console pod(s) to pick up the apiman endpoint info. As soon as you do that, an apiman tab appears in the hawtio fabric8 console. The apiman app exposes a REST API only.

This requirement to restart the console will be gone in a few hours (on master anyway) - I'm working on making it so that the apiman plugin is aware of the currently namespa

[2015-07-23 10:49] davsclaus commented on #4534
Do you mean to list all the endpoints, or to show information about one specific endpoint?

[2015-07-23 10:50] oscerd commented on #4534
I mean one specific endpoint.
Il 23/lug/2015 12:49, "Claus Ibsen" <notifications@github.com> ha scritto:

[2015-07-23 10:54] davsclaus commented on #4534
What do you want to show? Maybe kinda like what the karaf/jolokia command can do for explain-endpoint? Where it can list all the options and their docs etc. Those commands only work on a existing running Camel app. Not like these forge addons that can work on the source code.

[2015-07-23 10:55] rawlingsj commented on #4520
@SirIle ah we did a release late last night and the vagrantfile has just been updated to 2.2.15.  So to answer your question yes vagrant destroy && vagrant up should now work.

[2015-07-23 11:23] SirIle commented on #4520
I started from the scratch, re-cloned (there's a typo in the guide, it says "cd fabric8-installer/vagrant/openshift-latest" where it should be "cd fabric8-installer/vagrant/openshift/latest"), checked the Vagrant file and it lists the version as 2.2.15.1 (which is also displayed as the machine is being provisioned).

When the system has started, I point Chrome to "http://fabric8.vagrant.f8". This

[2015-07-23 11:27] donovanmuller commented on #4310
@KurtStam I restarted the pod and it was restarted successfully but no joy. I only have K8, Projects and Logs tabs (default namespace).
I even reloaded the Vagrant image, same result.

I'll wait until tomorrow then... :)

[2015-07-23 11:53] oscerd commented on #4534
I was thinking to something that show the options on a specific endpoint starting from an XML camel configuration.

Similar to camel-add-endpoint-xml, but showing the options in an ordered way.

[2015-07-23 11:55] rawlingsj commented on #4520
Ah great, glad it's working and thanks for pointing out the doc issues.  We'll get that sorted.

[2015-07-23 12:02] davsclaus commented on #4534
yeah sure that would be nice

[2015-07-23 12:04] oscerd commented on #4534
Perfect :-)

[2015-07-23 13:07] mwringe commented on #4513
Is there any issue with the PR or anything else that needs to be discussed before it can be pulled? I would rather get in pulled in sooner than later so that I doesn't get out of sync with the code base.

[2015-07-23 13:08] jimmidyson commented on #4513
Merging. What's your use case for secrets btw?

[2015-07-23 13:13] mwringe commented on #4513
For passing the token to access the secured kubernetes api endpoint.

Note: that is a joke :) I know how to use service account.

I am using secrets to setup certificates and keys between containers so that they can securely talk to each other.

[2015-07-23 18:57] #4508 closed

[2015-07-23 18:58] jstrachan commented on #4517
gonna close this for now - using *KT.java seems good and doesn't clash with surefire or failsafe. We can reopen if things change!

[2015-07-23 18:59] jstrachan commented on #4517
gonna close this for now - using *KT.java seems good and doesn't clash with surefire or failsafe. We can reopen if things change!

[2015-07-23 18:59] #4517 closed

[2015-07-23 19:00] jstrachan commented on #4513
closing as the PR got merged

[2015-07-23 19:00] #4513 closed

[2015-07-23 19:23] jstrachan commented on #4500
I think for now we just assume folks use 1.0 of k8s or OpenShift 1.0.2 or later

[2015-07-23 19:23] #4500 closed

[2015-07-24 08:28] dhirajsb opened #4538 "fabric8:apply should catch HTTP 401: Unauthorized and remind user to oc login"
Just seeing an HTTP 401: Unauthorized may not be enough for a first time user, or confusing when the OS3 token expires.

[2015-07-25 13:05] jstrachan opened #4545 "Create a golang based installer binary for fabric8 on openshift or kubernetes"
there are a few steps to installing fabric8 on openshift & kubernetes given a Linux and docker installation. Mostly it's secrets & some roles and a few templates to get the base going - from there the console or CLIs can take over.

It's still a little clunky for folks getting started though! The installer could run more checks too to ensure things are all setup properly.

Also we have some bash m

[2015-07-25 14:48] jstrachan commented on #4545
I guess for now the installer could just be a bash script - maybe we just refactor the script out of the vagrant files - so folks can use it inside or outside of vagrant?

[2015-07-25 20:23] pulse00 commented on #4545
+1

[2015-07-26 14:33] #4534 closed

[2015-07-26 14:42] oscerd opened #4548 "Camel-Forge: Add/Show/Edit endpoint XML commands doesn't work correctly with endpoint with &"
The following commands:

- Edit endpoint XML
- Show endpoint options XML also

don't work correctly when the endpoint inside XML configuration file contains and "&amp;" token.

In particular they don't work when  the endpoint is passed as argument to the command. If we don't pass the argument and follow the wizard then everything seems ok (even though the edit endpoint command doesn't save the edi

[2015-07-27 08:11] jimmidyson commented on #4545
Started on the validation side of this to begin with - it will be needed after install anyway to pick up on successful deployment. Work on this can be tracked & run locally with `go install github.com/fabric8io/gofabric8` - when a release is done this will use github releases to download a binary but for now go is needed locally to build it.

You can then run it with `gofabric8 validate`. All the

[2015-07-27 08:17] jstrachan commented on #4545
Oooh - maybe we don't need lots of the secrets! Would be nice to let fabric8 just be a kubernetes.json that works OOTB!

Which version of OpenShift are the CA certs mounted & where are they? We should try port as many services away from using secrets as possible.

I can't remember why the need for the cluster admin role TBH - and yeah there's no kubernetes equivalent. Lets try remove as many of th

[2015-07-27 08:18] jstrachan commented on #4545
BTW I did wonder about putting all the templates inside the installer binary; but then figured; they're all in a canonical place in maven central so maybe the installer could be version agnostic and let folks specify the version on the command line or it'd default to the latest?

[2015-07-27 08:24] jimmidyson commented on #4545
According to the trusty release notes, CA cert is mounted in OpenShift >= 1.0.2. The client (old & new iirc) uses the CA cert if available so no need to do anything I don't think - but fyi it's mounted at `/var/run/secrets/kubernetes.io/serviceaccount/ca.crt`.

As we're extending `kubectl` base functionality (basically replacing all subcommands with our own ones, e.g. `validate`) the namespace can

[2015-07-27 08:31] jimmidyson commented on #4545
Oh & btw it's got colour & everything ;)

[2015-07-27 08:42] jstrachan commented on #4545
Awesome! :)

We've currently got 2 areas in maven where there kubernetes.json files get released:

* individual apps go here http://central.maven.org/maven2/io/fabric8/jube/images/fabric8/ - mostly for historic jube reasons :( might be nice to switch to a nicer group id TBH
* the consolidated 'group apps' are here: http://repo1.maven.org/maven2/io/fabric8/apps/

I wonder if we need to release some

[2015-07-27 08:43] jstrachan commented on #4545
We've also got a 'distro' now which includes the common stuff (though not everything) as a tarball
http://repo1.maven.org/maven2/io/fabric8/apps/distro/

maybe the installer should just use that and over time we can fix the distro to try include everything?

[2015-07-27 08:44] jimmidyson commented on #4545
:+1: to distro. Can list available versions of distro via the Maven metadata hopefully, default to latest release.

[2015-07-27 08:44] jstrachan commented on #4545
Yeah - lets just use that distro! :) much easier!

[2015-07-27 08:46] jimmidyson commented on #4545
I was thinking of just deploying the templates & only running those that the user asks for - by default just fabric8 console & perhaps template microservice on kubernetes (although not sure which app that is!)? Then deploy templates to env, run those that the user specifies (if any)? Are there any more defaults that should always be deployed for a minimum fabric8 experience?

[2015-07-27 08:52] jstrachan commented on #4545
yeah sounds good!

[2015-07-27 08:55] jstrachan commented on #4545
Here's a single kubernetes json for running the console + the templates service on kubernetes:
ttp://central.maven.org/maven2/io/fabric8/apps/console-kubernetes/2.2.16/console-kubernetes-2.2.16-kubernetes.json

Yeah thats a good point - just run the console on openshift (and install the templates) or the console-kubernetes.json and we should be good. The latter populates the templates right now fr

[2015-07-27 09:13] jstrachan commented on #4521
I wonder if we should have a way to configure how aggressively we garbage collect integration test runs? e.g. folks might want to keep the last integration test environment around whether it passes or fails - just so folks can watch it?

[2015-07-27 09:14] #4132 closed

[2015-07-27 09:38] jstrachan commented on #4545
BTW here's the hack I used to make the templates be pre-populated by default when using the console on kubernetes / GKE:
https://github.com/jstrachan/quickstarts/blob/changes/apps/templates/pom.xml#L67-67

it might be nice for the installer to remove that volume from the templates json; then just install the same templates for OpenShift and Kubernetes from the same distro. Though we can always get

[2015-07-27 10:03] iocanel opened #4552 "fabric8:json should provide means of adding commands to the container json"

[2015-07-27 10:09] jimmidyson commented on #4552
FYI:

Docker `ENTRYPOINT` -> Kubernetes `Command` string[]
Docker `CMD` -> Kubernetes `Args` string[]

[2015-07-27 11:53] jstrachan commented on #4488
this should be fixed now - all the use of 'openshift-cert-secrets' have gone from the quickstarts.

The installer should help too: https://github.com/fabric8io/fabric8/issues/4545

[2015-07-27 11:53] #4488 closed

[2015-07-27 11:54] jstrachan commented on #4532
I guess the installer could fix this
https://github.com/fabric8io/fabric8/issues/4545

though maybe this issue refers to downloading and installing openshift / kubernetes too? Which I guess the installer could do pretty easily as well...

[2015-07-28 06:13] jstrachan opened #4555 "mvn fabric8:apply / mvn fabric8:recreate never seems to delete any pods now"
seems to be regression since the new kubernetes client.

Only tested on kubernetes so far. Normally when you run 'mvn fabric8:apply' or 'mvn fabric8:recreate' then after an RC is recreated/updated all the pods are deleted

[2015-07-28 06:13] jstrachan commented on #4555
I wonder if its due to changes in helper methods; like finding all the pods for an RC so they can be deleted?

[2015-07-28 07:09] jimmidyson commented on #4555
We should add in functionality to scale rc to 0 before deleting rc. Optional I guess but default to scale down to mimic upstream delete IIRC.

[2015-07-28 07:38] jstrachan commented on #4555
I guess we'd also need to wait for the scale to zero to take effect before recreating/updating the RC too. But yeah - nice idea!

[2015-07-28 07:42] jstrachan commented on #4555
BTW we have the same issue with updating an RC too btw. Typically if you update an RC (e.g. to use a different set of env vars or docker image) we need to scale down the RC before applying the update

[2015-07-28 07:49] jimmidyson commented on #4555
We need to ensure compatibility with kubernetes client to get consistent experience but can add as option. Important to think of zero downtime, meaning no scale down, update, scale up - need to think of rolling updates.

[2015-07-28 08:39] jstrachan commented on #4555
Yes, using a rolling update is another option we should support; though we probably want a separate maven goal for that as we'd not be recreating / updating a single RC but probably having a new RC for the new version etc

[2015-07-28 09:53] huembi opened #4556 "cannot create oauthclients at the cluster scope"
I try to install the fabric8-base package on Openshift v3, but I do not have enough rights to install it:

	oc process -v DOMAIN=$KUBERNETES_DOMAIN -f base-2.2.16.json | oc create -f -
		replicationcontrollers/fabric8
		Error from server: User "rene.huber@axa-tech.com" cannot create oauthclients at the cluster scope

Is the registration of the OAuthClient required to run fabric8?
Is there a way to

[2015-07-28 10:01] jstrachan commented on #4556
OAuthClient is required for the fabric8 console; its required to allow OAuth login.

I guess to enable the OAuthClient you need to be a cluster-admin? We usually add cluster-admin role to the fabric8 service account in our vagrantfile:
https://github.com/fabric8io/fabric8-installer/blob/master/vagrant/openshift/latest/Vagrantfile#L150

[2015-07-28 14:04] jstrachan opened #4557 "should we create the 'fabric8' ServiceAccount as part of kubernetes.json?"
then gofabric8 would automatically create the ServiceAccount.

Though it could cause things to barf if 2 templates both have the ServiceAccount inside

[2015-07-28 15:09] jstrachan opened #4558 "hubot-notifier regression on OpenShift"
it broke on 2.2.17 with the new kubernetes-client

looks like the websocket stuff never connects for the watches

[2015-07-28 15:53] jstrachan opened #4559 "mvn fabric8:apply / fabric8:recreate doesn't work any more for Routes"
we've a regression in the new client 2.2.17...

e.g. I tried it on quickstarts/apps/fabric8-forge:
[code]

[2015-07-28 16:02] jstrachan commented on #4558
ah - bouncing the pod and it worked this time - wacky!

[2015-07-28 16:03] #4558 closed

[2015-07-28 16:03] jstrachan opened #4560 "hubot-notifier doesn't work on Kubernetes without DNS"
not yet sure if it works on kubernetes with DNS mind you...

[2015-07-28 16:20] jstrachan opened #4561 "fabric8-forge regression on 2.2.17 with the new client"
it fails to use the fabric8 service account; it uses 'default' instead so can't startup any more
[code]

[2015-07-28 16:33] jstrachan commented on #4561
we have removed secrets now - so its looking like the serviceAccountName `fabric8` is not being recognised by OpenShift 1.0.3?

A horrid hack for now....
[code]

[2015-07-28 16:37] jstrachan commented on #4561
turns out that due to this https://github.com/fabric8io/fabric8/issues/4559 I was using the 'oc' binary which was 1.0.0 - which breaks serviceAccountName on 1.0.3 of openshift! DOH

[2015-07-28 16:37] #4561 closed

[2015-07-28 16:54] iocanel commented on #4559
This seems like a merge gone bad. Let me fix that really quick.

[2015-07-28 17:53] jstrachan opened #4562 "should we add the externalLoadBalancer JSON to our generated Templates which require a load balancer..."
.. like the main apps - letschat / jenkins / nexus etc?

[2015-07-28 17:54] jstrachan commented on #4559
awesome thanks!

[2015-07-28 17:57] rawlingsj commented on #4562
Yes I think that's a good idea.

[2015-07-28 18:02] jstrachan commented on #4562
I guess we should check it doesn't break openshift ;)

[2015-07-28 18:39] #4559 closed

[2015-07-29 03:49] jstrachan commented on #4557
Putting the ServiceAccount inside the 2 console json files might be the easiest thing?

[2015-07-29 15:07] huembi commented on #4556
Thanks for your support. They gave me now some more rights to install it.

[2015-07-29 15:07] #4556 closed

[2015-07-30 06:11] jstrachan opened #4568 "metrics should define its own ServiceAccount for metrics to ease the installation burden on OpenShift / Kubernetes"

[2015-07-30 06:13] jstrachan commented on #4568
once done we should remove the creation of the metrics ServiceAccount from the installer
https://github.com/fabric8io/fabric8-installer/blob/master/vagrant/openshift/Vagrantfile

[2015-07-30 07:30] jstrachan opened #4570 "add an 'install app' page on the website that makes it easy; given a link to a kubernetes JSON file - to install that app on any kubernetes environment"
It could have a section on how to 'drag this icon to the fabric8 console' stuff - rather like how installers tend to work on a Mac dragging apps to the Applications folder.

Then maybe a section on how to apply it via the CLI
[code]

Maybe for GKE we could try mimmick the “Click to Deploy” UI stuff for GCE (there’s unfortunately no GKE equivalent AFAIK) that tries to automatically post the kuberne

[2015-07-30 07:31] jstrachan commented on #4570
it might be nice to also show the details / docs / icons about the kubernetes json along with a summary of the RCs / services that are to be created and the docker images used?

[2015-07-30 07:42] jstrachan opened #4571 "lets remove the Gerrit app from the cdelivery app until it works OOTB"

[2015-07-30 07:43] jstrachan opened #4572 "rename some main apps"
e.g. here's some suggestions

[code]

[2015-07-30 08:03] jstrachan commented on #4570
rather like the Connect UI for jolokia in hawtio; we could keep a list of kubernetes REST APIs that the user has used; so when you try to "Click to Deploy" the json; you can pick which kubernetes / openshift environment you want to try it on etc.

Also we maybe need a page in the hawtio console that you can parameterise with a URL of the kubernetes JSON.

e.g. so folks could link to a URL like: ht

[2015-07-30 10:47] jstrachan opened #4574 "metrics app should migrate to grafana2 and prometheus?"

[2015-07-30 10:49] jstrachan opened #4575 "docker images should try to link to the jenkins build which created them, the source repo and git commit id etc"
not sure yet how best to do this; is it docker labels? Or maybe a canonical file inside the image? But it'd be nice from a docker image to be able to trace it back to the exact jenkins build that created it and the source code revision that was used to build it

[2015-07-30 11:08] #4562 closed

[2015-07-30 11:08] jstrachan opened #4576 "kubernetes client seems to fail in 2.2.18 inside fabric8-arquillian running an integration test"
I get this
[code]

not sure why its using localhost?

I created a project using the `maven/CanaryReleaseStageAndApprovePromote.groovy` flow and the above happened running the generated system test

[2015-07-30 11:19] iocanel commented on #4576
The arquillian extension was dependant on the KUBERNETES_MASTER env variable (or arquillian.xml).

The commit below removes that and we rely on the client defaults.

https://github.com/fabric8io/fabric8/commit/9246626595b6b524a88cb4070f10044ffa385ef1#diff-51a12dc879faeca4384ced731f2947dcL144

[2015-07-30 12:39] jstrachan opened #4577 "mvn fabric8:recreate doesn't recreate - nor does it seem to do much really ;)"
just tried `mvn fabric8:recreate` on a project which already was deployed. The output is:

[code]
I think its not detecting there were things existing that need deleting. Nor did it barf that the services / RC already exist; nor did it update anything.

I think there's a few issues.

* not detecting failures
* not checking things exist correctly

[2015-07-30 12:41] jstrachan commented on #4577
probably similar issues to #4555 though I think not detecting REST calls that fail is another issue

[2015-07-30 15:36] oscerd commented on #4548
I did an in-depth analysis and the problem is inside Forge. I'll raise a JIRA to Forge Team.

[2015-07-30 19:39] iocanel commented on #4577
fabric8:recreate normally deletes and (re)creates services, pods, controllers etc as it always did.
what has changed is that new client is less verbose than the old one, so the "deleting" entries no longer apper.

I'll add some log entries in the controller so that its less confusing.

[2015-07-30 19:47] #4577 closed

[2015-07-30 20:28] jstrachan commented on #4577
Btw I wasn't seeing the RC change nor the pod time update when I raised this

[2015-08-01 08:42] iocanel commented on #4576
I was wrong. The client will use the KUBERNETES_MASTER env variable anyway even if arquillian doesn't explicitly do so.

After digging a little bit deeper I found the following issues:

i) KUBERNETES_MASTER is incorrectly set in the fabric8/jenkins image
ii) fabric8/jenkins needs to be updated and use KUBERNETES_TRUST_CERTIFICATES (align with new client)
iii) After addressing the above I'm getting

[2015-08-01 09:15] jstrachan commented on #4576
I wonder if the project you are building is a war and not using a fabric8 archetype? Then there would be no fabric8 plugin or properties in the Pom.xml?

FWIW I've a pending patch to merge in a few weeks that reuses the fabric8-setup forge command to add the mvn plugin to any mvn project created via the forge hawtio wizard

[2015-08-01 21:05] oscerd commented on #4186
Just to prepare our PR:

---
id: io.fabric8.forge:camel
name: Camel
description: Apache Camel and Forge togheter!
author: Fabric8 Team
email: ?
website: http://fabric8.io/guide/forge.html
repo: ?
ref: master
tags: Camel
logo: ?
---

Maybe we need to create a separate repository for the project to submit the PR.

What do you think?

[2015-08-03 09:01] jimmidyson commented on #4555
Following the convention in kubectl, `update` the client should default to deleting cascaded resources (e.g. pods when updating an RC). `update` is now deprecated btw & called `replace` - follow fabric8io/kubernetes-client#44 for that change.

So it should be fine to do a `client.replace(...)` & related resources should be deleted & replaced too.

Rolling update will come along soon too.

[2015-08-04 06:57] cmoulliard commented on #4571
What is the issue ?

[2015-08-04 06:59] jstrachan commented on #4571
It doesn't start ;)

[2015-08-04 07:34] cmoulliard commented on #4571
I will have a look this week after reviewing changes done by Christian.

[2015-08-04 09:21] rawlingsj commented on #4186
Looks good.  A couple of things, there's a typo in the description "togheter"

Email - you could use the fabric8 google groups email address `fabric8@googlegroups.com`
Repo - Presumably the repo needs to be https://github.com/fabric8io/fabric8
Logo - The fabric8 logs can be found http://design.jboss.org/fabric8/

The repo is forked here https://github.com/fabric8io/website-data

Does this give you

[2015-08-04 09:27] oscerd commented on #4186
Hi, James.

Yes, you're right, I'll change that ugly "togheter" :-)

I think I have everything I need. Thank you :-)

[2015-08-04 09:30] rawlingsj commented on #4186
Excellent.  Nice work BTW!

[2015-08-04 12:44] rawlingsj opened #4585 "add image trigger for base images when using openshift custom build strategy"
Currently we can't trigger openshift builds on an update to a base image (the image in a dockerfile FROM) when using the custom build strategy.

Once openshift/origin#3565 is available we should be able to reference the fabric8/base images when creating build configs https://github.com/fabric8io/fabric8/blob/master/components/fabric8-devops-connector/src/main/java/io/fabric8/devops/connector/DevOp

[2015-08-04 14:42] rawlingsj opened #4586 "fabric8:create-env with DOMAIN env var set doesnt replace string in env.properties"
running
[code]
in https://github.com/fabric8io/quickstarts/tree/master/apps/gogs updates the `GOGS_SERVER_DOMAIN` string but not the `DOMAIN` in the generated target/env.properties

[2015-08-04 15:13] oscerd commented on #4586
I will take a look. Maybe there's something wrong in the create-env phase :-)

[2015-08-04 15:15] rawlingsj commented on #4586
ah ok, many thanks!

[2015-08-04 16:21] rawlingsj opened #4589 "output jenkins workflow console in openshift custom builder image"
we need to output the jenkins job console from the custom builder image so we can view the logs using

[code]

[2015-08-05 19:48] #4586 closed

[2015-08-05 19:49] oscerd commented on #4586
The PR should resolve the issue.

I think I need to work a little more on the environment variables expansion, cause actually if we have more than one enviroment variable in our property, than the expansion doesn't work well. I'll improve this feature.

[2015-08-06 21:50] Scyta1e opened #4599 "FabricMQ unable to find AMQ broker in 2.2.19"
Running docker 1.6.2 / OS Origin v3 1.0.3 natively on RHEL 7.1:

NAME                         READY     STATUS    RESTARTS   AGE
amqbroker-sj1jy              1/1       Running   0          3m
api-registry-mz1yp           1/1       Running   0          19m
docker-registry-1-q32my      1/1       Running   0          1h
elasticsearch-a98gk          2/2       Running   0          19m
fabric8-http-gate

[2015-08-06 21:54] jimmidyson commented on #4599
This is a conflict between the netty versions in the kubernetes client (netty 3) & fabric8 mq (netty 4). Might think about shading the netty3 dependencies into the client to get around this problem that others may face as well.

[2015-08-06 22:36] Scyta1e commented on #4599
Can confirm it works in 2.2.16

[2015-08-06 22:56] Scyta1e opened #4600 "Fabric8MQ Unable to handle large amount of pending messages"
Running Fabric8 2.2.16 on native docker 1.6.2/OS Origin 1.0.3:

Run the fabric8mq-producer with the fabric8-consumer offline to generate a large number (1000+) messages on the TEST.FOO queue. Then start the consumer and it processes a few messages before the following errors appears in the FabricMQ logs:

SEVERE: Unhandled exception
java.lang.IllegalStateException: No Data Handler
        at io.fa

[2015-08-07 09:04] #4599 closed

[2015-08-07 13:14] rawlingsj opened #4603 "switch openshift-s2i-jenkins-trigger to use official jenkins-cli lib"
The fabric8io/openshift-s2i-jenkins-trigger image uses a non standard project https://github.com/Netflix-Skunkworks/jenkins-cli as the official version does not yet work with jenkins workflow jobs.

See https://issues.jenkins-ci.org/browse/JENKINS-29826

Once this issue is resolved we should switch to the official version.

[2015-08-07 17:27] jimmidyson commented on #4600
One for @rajdavies probably?

[2015-08-08 13:12] oscerd opened #4606 "fabric8:create-env doesn't expand environment variables correctly when we have more than one in a single entry"
Suppose you have

[code]

Actually only the first env variable will be expanded even if you set the second too as parameter in fabric8:create-env command.

I'll work on this.

[2015-08-08 13:23] #4606 closed

[2015-08-08 16:11] oscerd commented on #4186
I think we are ready :-)

https://github.com/fabric8io/website-data/pull/1

[2015-08-08 16:15] oscerd commented on #4186
I've pushed on the fabric8 fork just to make you review :-)

[2015-08-09 09:43] #4460 closed

[2015-08-09 10:32] oscerd commented on #4186
I think we can close this :-)

[2015-08-09 10:35] #4186 closed

[2015-08-09 10:36] jimmidyson commented on #4186
Yay! Thanks again

[2015-08-09 10:55] oscerd commented on #4186
I've just submitted a little update to Fabric8 Team avatar url:

https://github.com/forge/website-data/pull/15

[2015-08-10 08:34] oscerd opened #4610 "Camel-Forge: Create Asciidoc file containing instructions related to Camel-forge"
As stated here

https://github.com/forge/website-data/pull/14#issuecomment-129271396

We need to create an asciidoc file containing the instructions related to camel-forge. This file will be used by the Forge website.

[2015-08-10 10:13] oscerd opened #4612 "Fabric8-maven-plugin: ObjectMapper reader(java.lang.Class<?>) method is deprecated, replace it with readerFor (java.lang.Class<?>)"
Since Jackson 2.6.0 ObjectMapper::reader has been deprecated. We have to use readerFor.

[2015-08-10 10:19] #4612 closed

[2015-08-10 17:00] rawlingsj opened #4615 "Error running camel CDI archetype in new fabric8 project: Connection refused: localhost/127.0.0.1:443"
version: 2.2.19
template: cdelivery
workflow: maven/CanaryReleaseStageAndApprovePromote.groovy

After creating a new project in the fabric8 console, the jenkins jobs are created but the CanaryReleaseStageAndApprovePromote workflow job fails to connect to the api server `Connection refused: localhost/127.0.0.1:443 `

[code]

[2015-08-11 10:06] iocanel commented on #4615
@jstrachan had the same issue.

I think that there are two problems here:

I) KUBERNETES_MASTER is not set
II) The cert envy car has been renamed.

The Jenkins docket image does set (I) but I suspect that this is not enough for executors. Maybe we need to add it to the profile or something.

[2015-08-11 10:08] rawlingsj commented on #4615
Ok thanks @iocanel!  I'll test that now.

[2015-08-11 10:19] jimmidyson commented on #4615
We identified the problem being in the base jenkernetes image - these env vars are not needed any more: https://github.com/fabric8io/jenkernetes-docker/blob/master/Dockerfile#L37-L40

https://github.com/fabric8io/jenkernetes-docker/blob/master/Dockerfile#L37 should never have worked as those env vars are never set in Docker build I don't think.

[2015-08-11 10:30] iocanel commented on #4615
Guys,

The arquillian extension will just use the default client. Given that no kube config will be found, KUBERNETES_MASTER is the only chance to pickup the master url. Depending on how Jenkins is configured you need to move those env cars to the right places. If nowadays we use jenkernets then the slave/swarm image needs to have them.

[2015-08-11 10:40] jimmidyson commented on #4615
@iocanel Default is https://kubernetes.default.svc so this should be picked up fine without any env var set in the cluster.

[2015-08-11 10:40] jimmidyson commented on #4615
We also don't need to trust certs any more as we set up the CA cert properly.

[2015-08-11 10:59] rawlingsj opened #4617 "Jenkins workflow scripts are not pre-populated in dropdown of create project"
Following stackstrace in forge pod..

[code]

[2015-08-11 11:14] #4615 closed

[2015-08-11 11:17] rawlingsj opened #4618 "Cert errors when jenkins workflow deploys new project to staging"
When removing
[code]
from https://github.com/fabric8io/jenkernetes-docker/blob/master/Dockerfile#L37-L38

we run into this stacktrace...

[code]

[2015-08-11 11:17] rawlingsj commented on #4615
It now works end to end but I had to leave the
[code]
https://github.com/fabric8io/fabric8/issues/4618

[2015-08-11 11:18] rawlingsj commented on #4615
Thanks both @iocanel and @jimmidyson

[2015-08-11 11:50] oscerd opened #4620 "Kubernetes-api: update(I) in io.fabric8.kubernetes.client.dsl.Updateable has been deprecated"
Actually in Controller.java class of Kubernetes-api there are references to update method even if it has been deprecated.

[code]

Do we need to change with replace?

[2015-08-11 12:56] jimmidyson commented on #4620
@oscerd yes please.

[2015-08-11 12:58] jimmidyson commented on #4618
Could you check that the CA cert is properly mounted & readable in the pod at `/var/run/secrets/kubernetes.io/serviceaccount/ca.crt`?

[2015-08-11 13:14] #4620 closed

[2015-08-11 13:15] oscerd opened #4622 "Kubernetes-api: writerWithType(java.lang.Class<?>) in com.fasterxml.jackson.databind.ObjectMapper has been deprecated"
Same story of reader, we have to use writerFor :-)

[2015-08-11 13:17] jimmidyson commented on #4622
What fun!

[2015-08-11 13:18] oscerd commented on #4622
I love deprecated methods :-)

[2015-08-11 13:19] jimmidyson commented on #4622
So do I!

[2015-08-11 13:35] #4622 closed

[2015-08-12 10:32] rawlingsj commented on #4617
This seems to be an intermittent problem.  A new deployment of the same version resulted in the the list being populated.  Will keep this issue open for now.

[2015-08-12 10:32] rawlingsj commented on #4618
Yep - just checked and the cert is there.

[2015-08-12 10:48] jimmidyson commented on #4618
OK I'll have a look at that - if the cert if there & readable then it should be used to initialize the CA store & validate server cert.

[2015-08-12 11:28] rawlingsj commented on #4589
Fixed with this commit https://github.com/fabric8io/openshift-s2i-jenkins-trigger/commit/1dd4e0cd98df3d661f81d4a57e5d9258e8c74926

[2015-08-12 11:28] #4589 closed

[2015-08-13 21:50] jimmidyson opened #4627 "Certificates as a service"
A lot of microservices need certificates for encryption & authenticating. We should try to provide a secure way to create certificates & distribute as secrets.

https://github.com/cloudflare/cfssl looks like an ideal candidate for this.

[2015-08-14 08:37] rajdavies commented on #4600
This could be because by default - the AMQ-Broker (that Fabric8MQ controls) - has an in-memory message store.

[2015-08-14 08:38] rajdavies commented on #4600
Btw- Fabric8MQ will likely be replaced by a MaaS solution based on QPid dispatch router

[2015-08-14 09:08] jimmidyson opened #4628 "Upgrade apiman to 1.1.3.Final"
Would you be able to look at this please @KurtStam or @EricWittmann? Not just a simple update version number from 1.1.3.CR1 to 1.1.3.Final sadly... anything else is beyond me ;)

[2015-08-14 11:22] EricWittmann commented on #4628
What is the context here?  Just needing to upgrade apiman in f8?

If so, why upgrade apiman to 1.1.3.Final?  The latest community release is 1.1.5.Final, and I'm releasing 1.1.6.Final today.

In any case upgrading to a newer apiman means leveraging the new apiman microservices.  But even that may be premature given our recent decision (I think?) to use EAP as the basis for the apiman stuff (instea

[2015-08-14 11:39] jimmidyson commented on #4628
@EricWittmann Yeah to upgrade the fabric8 gateway that uses apiman. I have no knowledge of that at all - something that @KurtStam worked on. The reason for 1.1.3.Final is nothing but, again, my ignorance.

Would be happy to take guidance on it from you experts of course :grin:

[2015-08-14 18:08] Scyta1e commented on #4600
Might be worth tweaking the camel microservices producer example to generate a lower rate of messages by default? All I did was deploy it and before I could get the consumer added it had blown ;-) Obviously hardly a fix but at least might make it through a demo? I'll tweak it and retest.

[2015-08-14 18:20] jimmidyson commented on #4600
Happy for a PR of it fixes the issue.

[2015-08-15 08:25] benmartinpeddey commented on #4294
I have followed the guide https://github.com/fabric8io/fabric8/blob/master/docs/getStarted/vagrant.md with the following steps on OSX:
 * git clone https://github.com/fabric8io/fabric8-installer.git
 * cd fabric8-installer/vagrant/openshift
 * vagrant plugin install landrush
 * vagrant up

This failed on the curl operation to download the openshift-origin tar.gz because github.com wasn't resolved.

[2015-08-15 08:41] jimmidyson commented on #4627
Moved this up kubernetes, follow https://github.com/kubernetes/kubernetes/issues/12732.

[2015-08-15 11:14] jstrachan opened #4629 "create a maven 'fabric8:watch goal'"
We have the awesome docker:watch goal that can regenerate docker images when things change in source or snapshot jars etc.

It'd be nice to have an equivalent for the kubernetes json too: so that changing a pom.xml or the DSL to change the generated k8s json file resulted in the new json being automatically applied.

Ideally we'd combine the two goals together so folks can stay in watch mode and t

[2015-08-15 11:32] jstrachan opened #4630 "Create a service importer pod"
Folks may use multiple environments for different microservices (eg 'dev', 'qa', 'prod') but in each envirornment folks might want to import shared services (eg elasticsearch, grafana, Prometheus).

It would be nice to have an easy way to import services from namespace X into namespace Y so they can be shared across namespaces.

I wonder if we need a 'sharing' pod that we run in namespace Y that w

[2015-08-15 11:57] jstrachan commented on #4630
We should ensure that each imported service in namespace 'Y' gets annotated by the importer - so that if the imported service in 'X' is deleted, the importer can safely delete the corresponding service in 'Y'.

Also folks in 'Y' may wish to import all services from 'X' but then choose to override some service 'foo' with a local implementation. In which case the user an replace the imported service

[2015-08-15 13:23] jimmidyson commented on #4630
Can probably just access it via DNS? Also look at how external services are
managed- this is the same for services across namespaces.

On 12:57, Sat, 15 Aug 2015 James Strachan <notifications@github.com> wrote:

[2015-08-15 14:39] jstrachan commented on #4630
Yeah - am thinking the service importer just creates a 'foo' service in Y that can be accessed via env vars or DNS - which just points to the foo.X DNS name / clusterIP etc. so it looks like 'foo' service is implemented locally but it points to the X namespace as a kinda external service

[2015-08-15 14:44] jstrachan commented on #4630
The service importer idea is a possible plugin to implement something like this idea:
https://github.com/openshift/origin/issues/1244

[2015-08-17 07:52] benmartinpeddey commented on #4294
I have further investigated the landrush DNS issue I have experienced...

when doing "vagrant up" I had the following output:
==== BEGIN EXTRACT ====
[landrush] Starting daemon...
Daemon in unknown state! Will clear previous state and continue.
[landrush] Daemon status: crashed
Dumping daemon crash log:
=== Daemon Exception Backtrace @ 2015-08-17 17:03:29 +0930 ===
Errno::EACCES: Permission denied

[2015-08-17 10:10] rawlingsj opened #4632 "Quickstarts repo needs to be split up"
We need to split up the quickstarts repo, here's a suggested split but there a few questions so a bit of feedback is needed...

4 questions numbered below.

Looking at the current quickstarts directory structure..

__quickstarts__
To remain..
[code]

__management-apps__
[code]
__devops-apps__
[code]

__ipaas-apps__
Not sure about these.  [Q2] Should the ipaas apps be the two we have in the quickst

[2015-08-17 10:32] rawlingsj commented on #4294
@benmartinpeddey this sounds great!

Would you mind putting a PR together and submitting it to https://github.com/fabric8io/fabric8-installer?

[2015-08-18 08:50] rawlingsj opened #4633 "fabri8:apply doesn't create multiple routes if multiple services are created"
The taiga app defines multiple services but when using fabric8:apply it will only create an openshift route for one of the new services.

[2015-08-18 08:57] jimmidyson commented on #4633
Do you actually need routes for every service?

[2015-08-18 09:04] rawlingsj commented on #4633
Actually no, but the service it chose to create a route for was not the one I wanted.

On google cloud the service type `LoadBalancer` is used when we want an external loadbalancer created, maybe we could use the same  when we want to create a route?

[2015-08-18 09:14] jstrachan commented on #4633
Good idea! I wonder if the LoadBalancer should be the indicator to create a route (then an external IP is also created on GKE).

The other option is a custom annotation on services requiring a route - though I like the former if it doesn't cause any issues

[2015-08-18 09:16] jstrachan commented on #4633
Relates to this issue
https://github.com/openshift/origin/issues/2026
Am hoping eventually OpenShift natively creates routes for us

[2015-08-18 09:31] rawlingsj commented on #4633
Ah yeah that would definitely be better if openshift could create the routes.

[2015-08-19 07:27] tonswieb opened #4634 "DNS issue with accessing docker on Vagrant via DOCKER_HOST=tcp://vagrant.f8:2375"
Hi,

I followed the getting started on Vagrant. I have set the environment variable DOCKER_HOST to "tcp://vagrant.f8:2375" as described in http://fabric8.io/guide/getStarted/vagrant.html so I can run docker commands directly on OS X. Instead of SSH into the Vagrant VM.

Only when doing a docker ps I am getting the error:
FATA[0000] Get http://vagrant.f8:2375/v1.18/containers/json: dial tcp: lookup

[2015-08-19 09:53] ioquatix commented on #4294
https://github.com/ioquatix/rubydns/issues/55

[2015-08-19 10:00] ioquatix commented on #4294
Okay, there is a release 1.0.2 which ties RubyDNS to celluloid 0.16.0 which is an interim fix. There will be a release of RubyDNS 2.0 soon which has a better fix and also updates to celluloid 0.17.0 but that still requires a bit of work.

[2015-08-19 10:08] benmartinpeddey commented on #4294
Thank you @ioquatix.

@rawlingsj: I have extended the troubleshooting section of the [fabric8 getting started vagrant guide](https://github.com/fabric8io/fabric8/blob/master/docs/getStarted/vagrant.md) regarding the celluloid 0.16.0 issue with landrush 0.18.0. Will commit tomorrow.

[2015-08-19 10:49] rawlingsj commented on #4294
great!  thanks both @benmartinpeddey and @ioquatix

[2015-08-19 12:22] rawlingsj commented on #4634
This sounds similar to another issue we have.
https://github.com/fabric8io/fabric8/issues/4294#issuecomment-131717283

Does setting the following help?

[code]

[2015-08-20 01:39] benmartinpeddey commented on #4294
PR for celluloid issue done: https://github.com/fabric8io/fabric8/pull/4638

[2015-08-20 07:39] rhuss opened #4639 "Add support for gitlab as an alternative to gogs ?"
Not that I'm not satisfied with Gogs but maybe Gitlab could be a good alternative, especially the announced a FOSS Slack alternative [Mattermost](https://about.gitlab.com/2015/08/18/gitlab-loves-mattermost/) and IMO it can be expected that there will be a very tight integration with Gitlab out of the box.

It would be also a good chance to prove the flexibility of our DevOps workflow.

[2015-08-20 13:12] tonswieb commented on #4634
I already applied the downgrade of v0.16.0, because I run into similar problems as described in #4294. So downgrading to v0.16.0 does not solve this issue.

The DNS resolving of Landrush works fine now. It looks like docker is ignoring the /etc/resolver/f8 extension of Landrush? Resolving of DNS in Firefox works which shows that Landrush is running ok and the DNS resolver extension in /etc/resolve

[2015-08-22 06:38] rawlingsj opened #4641 "environment builder"
Doing a bit of thinking...

Currently we 'Run' templates.  I wonder if we could benefit from an environment builder like the 'project builder' that picked which apps should be run and wired together by fabric8.

I.e. if a developer / ops wanted to create a new env they could either import an existing yaml file (from a file or git repo) or build a new one.  fabric8 could make suggestions using defa

[2015-08-22 08:12] rawlingsj commented on #4641
Again not sure if it would be the right place but maybe it could also capture what OAuth provider should be used and also claim / setup any storage required by the environment?

[2015-08-22 10:23] jstrachan commented on #4641
Yeah - I've been wondering along similar lines. I guess the issue is do
folks want to be able to trash and recreate an environment once it's
created - or do we just create environments via the REST API / CLI / web
app?

Am not totally sure how often that's the case - e.g. to maybe to switch
physical kubernetes clusters? Folks might want to test the same logical
environment configuration on differe

[2015-08-22 15:28] rawlingsj commented on #4641
I think there’s a case for being able to recreate an environment and also duplicate environments for new teams / projects.  For example a new microservice or PoC needs a new env set up and configured in a way that they’re familiar with or that the company governance stipulates.

Also having an environment in version control feeds into the view of infrastructure is code a bit.  Using REST API / CLI

[2015-08-23 19:32] rawlingsj opened #4646 "fabric8 console not loading on kubernetes vagrant 1.0.2 release"
Running Kubernetes and installing the console using...

[code]

Once the pods are running I can curl the console using
`curl --user vagrant:vagrant https://10.245.1.2/api/v1/proxy/namespaces/default/services/fabric8/`

But not able to load in a browser (tried chrome and firefox).  The JS console does have a 404 and another error but not sure if that's a red herring as it did load once in a browser

[2015-08-23 21:46] jimmidyson commented on #4646
Notice the path doesn't include the fabric8 service name. Assuming that's the problem...

[2015-08-24 07:45] rawlingsj commented on #4646
Yeah you're right, the 404 when getting the font doesn't have the service name.  Having said that I just checked the browser tab that the console did load in and it also had the 404 font errors so, I think that's a separate issue to the reason the console wont load in at all apart from this one browser tab.

[2015-08-24 13:39] jstrachan opened #4647 "chaos monkey should work without hubot running; it can just not notify a chat room if there's no hubot service running"

[2015-08-24 13:57] bkonetzny commented on #4647
I tried to run the chaos monkey as a standalone replication controller in our kubernetes stack without any other fabric8 components:
[code]

When the docker container starts, I get the following exception:
[code]

Is this related to the missing hubot service? Not sure about this as I don't pass any ENV vars.

[2015-08-24 14:04] jstrachan commented on #4647
yeah - thats the missing Hubot service; the error should be a bit more clear which service is missing ;)

Lets try fix that error message too!

[2015-08-24 14:08] jstrachan commented on #4647
This is the injection we should make optional so that the HubotNotifier is a NOOP if folks are not running it:
https://github.com/jstrachan/fabric8/blob/cdelivery/components/hubot-api/src/main/java/io/fabric8/hubot/HubotNotifier.java#L49-49

[2015-08-24 14:13] bkonetzny commented on #4647
I think it should default to logging messages to stdout and only optional to hubot, so log collection services can pick up the work done by this chaos monkey.

[2015-08-24 14:14] jstrachan commented on #4647
@bkonetzny agreed!

[2015-08-24 14:15] jstrachan opened #4648 "improve error message to list the service thats missing"
e.g. its not clear from this stack trace what service is missing:

[code]

[2015-08-24 14:15] jstrachan commented on #4647
I raised a separate issue for the error message being confusing to not list the missing service: https://github.com/fabric8io/fabric8/issues/4648

[2015-08-25 10:25] iocanel commented on #4648
The message is not about a service that is missing but about not being able to get a client instance.

Let me see how we can improve that.

[2015-08-25 11:13] jstrachan commented on #4648
Aha! I noticed in master that Fabric8 Forge no longer gets a KubernetesClient injected via CDI too btw; I had to add a local hack for now

[2015-08-25 11:14] jstrachan commented on #4617
Think this is caused by a failure to pull down the library from github - I just hit that too today.

Not sure how best to solve this one - bake the list of workflows into the jenkins image?

[2015-08-25 11:17] jstrachan opened #4652 "allow any maven project to be created via the hawtio/forge wizard and automatically enable fabric8/docker maven plugins and optional jenkins workflow"

[2015-08-25 11:23] iocanel commented on #4648
Falling back to the default client is broken in master. I am going to push a fix as soon as github connectivity issues are over.

[2015-08-25 12:26] #4648 closed

[2015-08-25 12:29] iocanel commented on #4647
As mentioned in #4648 the error message doesn't have to do with service availability but with a bug in the client lookup.

In any case, I added support for Instance injection, which allows handling of optional dependencies.

[2015-08-25 13:12] rawlingsj opened #4654 "delete / recreate fabric8"
it would be nice to have a delete or recreate flag / command on the gofabric8 installer that removed all the fabric8 components and if required added them back in.

for example I currently run this script to delete the fabric8 only parts (the resources that are removed by name should have labels to avoid deleting them directly https://github.com/fabric8io/fabric8/issues/4214)

[code]

[2015-08-25 13:19] rawlingsj opened #4655 "upgrade fabric8"
It would be good to provide a command to upgrade the fabric8 components to a new released version.  It might need a bit of thinking so that rolling updates are used and support for using different strategies like big bang as opposed to progressively by namespace.

A rollback feature would need to be provided and possibly cater for the update script being cancelled / interrupted?

[2015-08-25 13:25] jstrachan commented on #4655
agreed - we should be able to replace the templates and use the kubernetes rolling upgrade hopefully?

I don't see any way to roll forward/backward templates mind you; without storing them in a git repo and using git etc

[2015-08-25 16:19] #4652 closed

[2015-08-25 17:10] jstrachan commented on #4647
now lemme make hubot-notifier agnostic on whether hubot is running or not...

[2015-08-25 21:44] oscerd commented on #4652
I'm sorry about the forge upgrade. I didn't know there was a bug on 2.18.0.Final

[2015-08-26 05:02] jstrachan commented on #4652
No worries! I didn't know either! Its our bad for not having got really
good automated system tests on the generated docker images inside
kubernetes/openshift. Am gonna try sort that out so we'd get fast feedback
on any bugs introduced by version changes.

BTW keep up the great work updating dependencies to newer versions; it
frequently does lots of good! Our CI / CD system should have caught this

[2015-08-26 05:09] jstrachan commented on #4641
I wonder if for now a simple environment builder would just be maven and the fabric8 plugin along the same kinda lines as the installer:
https://github.com/fabric8io/fabric8-installer

where an environment has a pom.xml with dependencies to be deployed and their versions (using mvn coords so its easy to roll forward/back versions in environments).
https://github.com/fabric8io/fabric8-installer/blo

[2015-08-26 08:12] jimmidyson commented on #4641
I'm not struck on the idea of using maven poms in this way tbh. Wonder if some other format would be better? That way we could reuse the files with `gofabric8` at some point too to provide a cmd line interface for potentially non-Java users?

[2015-08-26 08:24] rawlingsj commented on #4641
There was a fair bit of love for fabric8 at the last Kubernetes meetup but one of the comments was asking if it can be less Java focussed when installing and setting it up.

All all the java development tooling is still absolutely valid but I too wonder if we could use a golang client and maybe a yaml file like the fabric8.yaml to point to versioned templates in maven central?  This might be over

[2015-08-26 08:24] jstrachan commented on #4641
yeah, that'd be cool too! I just figured on the maven option as it totally works right now. But yeah would love a gofabric8 alternative for polyglot folks too.

I guess we could come up with a non maven alternative; defining:

* a list of versions to use (for different templates)
* links to the templates (ideally using the version expressions - which will make it easier to grok when we change vers

[2015-08-26 08:25] rawlingsj commented on #4641
ah yeah ^^ thats what I was thinking :)

[2015-08-26 08:25] jstrachan commented on #4641
in the above I used property resolving to find URLs so that we can do a git commit on this source to easier see when we change the `hawtio.version` to something - rather than changing of URLs which tends to be more opaque when looking at git/gertit changes

[2015-08-26 11:17] jstrachan opened #4659 "make it easy to import a bunch of open source projects on github into OpenShift into namespaces and link to the repository / issue tracker / team / releases etc"
so that we can mix and match on premise projects hosted in something like gogs with public OSS projects which we mostly consume/browse.

Then the browse project UI can be used to browse groups of github projects; to help us with our CI / CD visualisation for releasing fabric8 itself

[2015-08-26 11:29] jstrachan commented on #4659
Here's an example git repository that can be used to import a bunch of projects into different namespaces
https://github.com/fabric8io/fabric8-development-projects

[2015-08-26 11:31] #4647 closed

[2015-08-26 11:31] #4659 closed

[2015-08-26 15:15] jstrachan opened #4663 "make it easy to add annotations to Templates / RC / PodTemplate when generating the kubernetes json"

[2015-08-26 15:25] #4663 closed

[2015-08-26 15:29] jstrachan opened #4665 "use secret annotations on jenkins & gerrit so that we can automatically generate (or import) the secrets on installation or via gofabric8"

[2015-08-26 17:13] jstrachan commented on #4665
here's a strawman of what annotations to use for now to annotate the secret dependency in a PodTemplate with the kind of secret that should be created/imported by an installer tool:
https://github.com/jstrachan/fabric8/blob/cdelivery/docs/secretAnnotations.md

[2015-08-27 10:05] jstrachan opened #4667 "consider a jenkins pod per BuildConfig as an alternative to Jenkins Master/Slave to avoid complexities of Jenkins master + kubernetes slaves + Docker Workflow?"
as discussed here
https://issues.jenkins-ci.org/browse/JENKINS-29342
with more background here https://github.com/fabric8io/fabric8/issues/4340 combining a Jenkins master + kubernetes slaves + jenkins docker workflow is kinda hard and complex (see https://github.com/iocanel/jenkins-poc)

I wonder if a simpler solution is to have 1 jenkins pod per namespace and BuildConfig pair - which acts as a sl

[2015-08-27 10:06] jstrachan commented on #4287
this is another alternative idea on how to make Jenkins + OpenShift with things like build configs / docker workflow work nicer https://github.com/fabric8io/fabric8/issues/4667

[2015-08-27 15:05] jstrachan commented on #4667
The other option is to have a jenkins per team/namespace - and use an elastic swarm of pods via the jenkernetes approach...

[2015-08-27 16:09] #4610 closed

[2015-09-02 07:18] jstrachan opened #4677 "support generation of a PersistentVolumeClaim if a persistent volume claim volume is used in an RC"

[2015-09-02 07:29] #4677 closed

[2015-09-02 07:58] rawlingsj opened #4679 "openshift client not working in gofabric8"
The error can be reproduced by running the validate command.  It is affecting any OpenShift resource not just templates.  The Kubernetes client is unaffected.

Running..
[code]

Gives this error..

[code]

[2015-09-02 08:02] jimmidyson commented on #4679
`the server could not find the requested resource` indicates that the URL is wrong. Is the oapi path set correctly? I think you can try running with `--v=8` to increase logging levels which should include what URLs it's trying to hit. Maybe.

[2015-09-02 08:15] rawlingsj commented on #4679
Great - the `--v=8` worked nicely and yeah you're right @jimmidyson the URL is wrong, it's `api` rather than `oapi`.
[code]
should be
[code]

[2015-09-02 08:46] #4679 closed

[2015-09-02 08:47] jimmidyson commented on #4679
@rawlingsj - Fixed, pull latest gofabric8.

[2015-09-02 09:02] rawlingsj commented on #4679
Works great!  Thanks @jimmidyson

[2015-09-03 16:09] rawlingsj opened #4683 "dry run of new fabric8 release workflow fails on Quickstarts :: Karaf4 :: Camel Log"
[code]

[code]

[2015-09-03 16:23] rawlingsj opened #4685 "Use of shrinkwrap in fabric8-cdi and hubot-api not working in CD env"
Two tests use ShrinkWrap which pulls in the default maven settings.xml that is running the tests.  So in our CD environment this settings.xml is in the Jenkernetes image which also uses ENV VARS to pass in usernames and passwords.  I've raised https://issues.jboss.org/browse/SHRINKRES-227 on SW but not sure we're getting anywhere with that yet as encrypting the passwords even though they're env va

[2015-09-03 16:45] rawlingsj commented on #4683
Temporarily commented out as agreed with Dhiraj Bokde.

[2015-09-03 16:48] christian-posta opened #4687 "fabric8-maven-plugin not getting correct api server from .kube/config"
Seems to require KUBERNETES_MASTER environment variable... if that variable is not there, we get this (below)... was hoping it would automatically grab from the .kube/config file

[INFO] ------------------------------------------------------------------------
[ERROR] Failed to execute goal io.fabric8:fabric8-maven-plugin:2.3-SNAPSHOT:apply (default-cli) on project kubernetes-maven-sample: Executio

[2015-09-03 17:40] dhirajsb commented on #4683
Fixed with PR https://github.com/fabric8io/quickstarts/pull/671

[2015-09-03 20:20] jimmidyson commented on #4687
This seems to work fine for me. Is `KUBERNETES_MASTER` env var unset or empty?

[2015-09-04 10:46] rawlingsj commented on #4683
@dhirajsb still getting an issue with that quickstart unfortunately.  I'm going to disable the karaf 4 quickstart for this release and we can take another look at the issue.

[code]
[code]

[2015-09-06 09:07] jstrachan commented on #4340
It looks like turning a workflow into a Pod isn't gonna fly: https://issues.jenkins-ci.org/browse/JENKINS-29342 so its looking more like using Jenkernetes with DIND and swarm slaves is looking like the happy path going forward so we can reuse Jenkins Docker Workflow - plus use jenkernetes - see [background here](http://iocanel.blogspot.gr/2015/09/jenkins-setups-for-kubernetes-and.html)

[2015-09-06 09:07] #4340 closed

[2015-09-06 09:07] jstrachan commented on #4287
its [looking like Jenkernetes is the best approach for slaves](http://iocanel.blogspot.gr/2015/09/jenkins-setups-for-kubernetes-and.html) we can close this issue once we've enabled that

[2015-09-06 09:08] jstrachan commented on #3781
we create a BuildConfig now in the new project wizard and have a separate command to create an integration test

[2015-09-06 09:08] #3781 closed

[2015-09-07 09:16] jstrachan commented on #4413
I've a working prototype; will push soon using PersistentVolume / PersistentVolumeClaims - just need to update the gofabric8 installer so its easier to create a PV

[2015-09-07 13:22] rawlingsj opened #4692 "Add error handling to delete remote tag if release fails"
The error does get caught except in this example $(git describe) is the previous tag.
https://github.com/rawlingsj/jenkins-workflow-library/blob/master/maven/Fabric8Release.groovy#L76-L81

[2015-09-08 10:57] rawlingsj opened #4695 "API error (404): Cannot start container"
From the mailing list and we have also just seen this https://groups.google.com/d/msg/fabric8/ys9c5pt0cbo/Z734PjIMAQAJ

[code]

[2015-09-08 11:33] hirunika3 commented on #4695
How long will it take to fix the issue or is there's any workaround until the issues are fixed?

[2015-09-08 18:37] javalai opened #4699 "Installation on OpenShift Origin V3 using provision scripts in Vagrantfile"
Hi,

This issue could be related to #4458.

I failed to install fabric8 on native Openshift V3 by following the http://fabric8.io/guide/getStarted/.
But trying the installation using the Vagrant approach works like a charm.

Since the need for "Native" Openshift V3, I followed the provision scripts in "https://github.com/fabric8io/fabric8-installer/blob/master/vagrant/openshift/Vagrantfile" and ig

[2015-09-08 21:14] rawlingsj opened #4700 "[quickstarts] springbootmvc InvoicingRestApiTest takes ~7 mins to run"
From the CI server https://fabric8-ci.fusesource.com/job/fabric8-quickstarts-master-pullreq/765/console

[code]

[2015-09-09 07:18] dowhiletrue opened #4701 "Profile my-test-profile does not exist even though profile-list lists it"
JBossFuse:karaf@root> profile-list | grep my-test-profile
my-test-profile                                           jboss-fuse-full

JBossFuse:karaf@root> container-add-profile root my-test-profile
Error executing command: Profile my-test-profile does not exist.

Exception caught while executing command
java.lang.IllegalArgumentException: Profile my-test-profile does not exist.
	at io.fabric8.boot

[2015-09-09 08:42] dowhiletrue commented on #4701
The problem is that the profile does not exist in right version since I'm in version 1.2 but the profile gets imported into the default version using profile-import without the --version flag

[2015-09-09 08:42] #4701 closed

[2015-09-09 13:36] rhuss commented on #4700
Could it because of the usage of `/dev/random` as random number generator, which blocks when there is not enough entropy in the system ?

Then the fix would be `-Djava.security.egd=file:/dev/./urandom` (needs probably added to the surefire config)

[2015-09-09 13:38] rawlingsj commented on #4700
I'll give it a go... thanks @rhuss!

[2015-09-10 10:10] chiippy commented on #4399
No sure if any update with this issue as I am trying the Cdelivery packaging and I am having the same problem.  Managed to get the test project built a few times, then Vagrant has gone into a halt with either no logging in the journal or sometime do have some repeated logs. When accessing the server, I am getting the same error message as the subject line.

Eventually, the vagrant journal shows as

[2015-09-10 12:27] jstrachan opened #4707 "provide an automatic canary release mechanism"
it'd be nice to have an automatic way to create a canary release for a bunch of different upstream projects from their master branch (e.g. kubernetes-model, kubernetes-client, fabric8, fabric8-devops, fabric8-ipaas, ipaas-quickstarts, fabric8-templates) so that we can build everything using the master in a tagged way so that we can promote it if we're happy with it.

Also we don't want to push ups

[2015-09-11 22:33] rawlingsj opened #4714 "issues pushing to dockerhub during fabric8 release"
Initially this is just to track the different errors that have been seen when pushing images to dockerhub during the automated fabric8 release process.  They seem to be intermittent...

[code]

[code]

[code]

[code]

[2015-09-14 08:32] rawlingsj commented on #4692
Error handling reworked, so that tag isn't pushed if release fails.

[2015-09-14 08:32] #4692 closed

[2015-09-14 09:35] jstrachan opened #4717 "mvn fabric8:recreate seems to be broken now"
it seems to hang when trying to delete an RC

[2015-09-14 09:54] jimmidyson commented on #4717
It waits to scale down RCs. Does it hang forever?

[2015-09-14 10:00] jstrachan commented on #4717
yeah - and no pods seem to get deleted ever

[2015-09-14 11:59] cmoulliard opened #4718 "No error message is reported within the HTML page if the repo already exist"
No error message is reported within the HTML page if the repo already exist

![screenshot 2015-09-14 12 06 31](https://cloud.githubusercontent.com/assets/463790/9847451/290064b6-5ad9-11e5-9faf-a45128fe5b59.png)

[2015-09-14 14:00] KurtStam opened #4721 "fabric8 goal order creates faulty kubernetes.json"
When running

mvn clean install fabric8:json the output is different then running
mvn clean fabric8:json install

fabric8-maven-plugin:2.2.26:attach goal happens first; then the fabric8-maven-plugin:2.2.26:json is last.
I can reproduce the issue in the fabric8-ipaas/elastic project where in the log stash template is completely missing using the first maven command.

https://gist.github.com/KurtSta

[2015-09-14 14:13] jstrachan commented on #4412
the next release which should be here in a few hours should be all setup to create secrets etc.

@cmoulliard @christian-posta it'd be good to give the new gerrit app a try and see if it works for you

[2015-09-14 16:17] jstrachan opened #4724 "mvn fabric8:apply seems kinda borked too"
it seems to just terminate abuptly now:
[code]

no attempt to do anything else like the service / RC

[2015-09-14 16:18] jstrachan commented on #4724
probably related to #4717 - the Controller's probably broken again with recent KubernetesClient changes?

[2015-09-14 17:35] #4717 closed

[2015-09-14 17:35] #4724 closed

[2015-09-15 08:16] Javierperezmartin opened #4725 "Change default API version by configuration?"
I'm trying to change 'v1' API to 'v1beta3' API, but it seems that there's no config parameter to do so. Is there any way to change the 'v1' default API, so the REST requests go to 'http://kubernetes.server:port/api/v1beta3/... ?

[2015-09-15 15:28] SoucianceEqdamRashti opened #4728 "maven plugin does not build on eclipse fuse 6.2"
Hello,

I am trying to build and deploy a simple maven-camel-java project on red hat developer studio 8.1 with fuse 6.2. I am running fabric8:deploy. The error I am getting is:
[INFO] BUILD FAILURE
[INFO] ------------------------------------------------------------------------
[INFO] Total time: 3.623 s
[INFO] Finished at: 2015-09-15T17:22:03+01:00
[INFO] Final Memory: 16M/38M
[INFO] -------------

[2015-09-16 09:54] rawlingsj opened #4732 "Change OAuthClient name for console"
If a second fabric8 installation is deployed to openshift in a new namespace then the console is not available.  Should we [name the OAuthClient](https://github.com/fabric8io/fabric8-devops/blob/master/console/src/main/java/io/fabric8/apps/console/ConsoleModelProcessor.java#L30) something that relates to it's namesoace or maybe just the domain and set the [corresponding env var](https://github.com

[2015-09-16 11:46] davsclaus commented on #4728
Its been a rather long while but I think the deploy goal is for jube. You cannot yet use fabric8 v2 with jboss fuse 6.2.

You have to use the fabric8 v1 maven plugin that fuse 6.2 is shipped with.

[2015-09-16 19:01] jstrachan opened #4736 "make it easier to write namespace specific kubernetes assertions from pods found via the KubernetesClient and allow easy assertions based on exceptions being in the log of pods"

[2015-09-16 19:13] jstrachan opened #4737 "allow fabric8-arquillian to be configured via an env var / system property to use a known canonical namespace to run the test case"
so that it recreates all the dependent templates (e.g. like `mvn fabric8:recreate` does) at the start of a test and then leaves the namespace around at the end of the test.

This will then let folks keep namespaces around so they can look inside.

Longer term we maybe wanna add more sophisticated GC of test namespaces; using annotations of a namespace that is in use (so that we can prevent 2 test

[2015-09-16 19:16] iocanel commented on #4737
After our talk this morning, I pretty much fixed that locally?
Do you mind if I re-assign the issue to me?

[2015-09-16 19:35] jstrachan commented on #4737
@iocanel awesome - go right ahead - it was gonna be the little thing I hacked on while on the train tomorrow - guess I'll have to find another issue ;)

[2015-09-16 19:37] jstrachan commented on #4737
BTW one nice side effect of allowing optionally pre-defined namespaces for fabric8-arquillian tests is we can let the [gofabric8 installer](https://github.com/fabric8io/gofabric8) pre-create any SCC's / secrets / persistent volumes for the namespace up front and folks could always add some extra custom apps in there too (that remain there before & after the test).

[2015-09-17 08:36] oscerd opened #4739 "Swagger-model is using deprecated Jackson methods"
I'd like to work on this.

[2015-09-17 08:39] oscerd opened #4740 "Forge-core is using deprecated Jackson methods"
I'd like to work on this.

[2015-09-17 08:42] jimmidyson commented on #4739
@oscerd Go for it! Thanks!

[2015-09-17 08:42] jimmidyson commented on #4740
@oscerd Go for it!

[2015-09-17 15:12] #4739 closed

[2015-09-17 15:17] #4740 closed

[2015-09-17 16:42] #4737 closed

[2015-09-18 07:16] SoucianceEqdamRashti commented on #4728
Hi Claus

Yeah basically I reverted to installing Fuse 6.2 again but without the Fabric and it works much easier right now.

I am at the moment doing a POC to evaluate Fuse for my employer. One thing that I am missing, or perhaps, I have not googled enough, is what benefits, does Fabric provide from an integration perspective. But that is outside the scope of this issue.

[2015-09-18 07:16] #4728 closed

[2015-09-18 07:16] jstrachan commented on #4521
this is now fixed nicely by #4737 then folks can be in complete control of which namespace is used for an itest

[2015-09-18 07:16] #4521 closed

[2015-09-18 07:31] SoucianceEqdamRashti opened #4745 "Best practise in use with Camel/Fuse projects"
Hello,

I am right now evaluating Fuse 6.2 and started to use the Fabric component but ran into many problems with the deploy and also the containers and profiles which didn't seem to mesh well together. Sometimes the container would end up in an alive state and nothing happend or sometimes the container would end up in alive and waiting and it was hard to know what exactly was wrong with it.

Do

[2015-09-18 08:27] jstrachan commented on #4745
BTW for questions on JBoss Fuse you're best off using the forum
https://developer.jboss.org/en/products/fuse

or support
https://access.redhat.com/

or the JIRA for JBoss Fuse is
https://issues.jboss.org/projects/ENTESB

[2015-09-18 08:28] #4745 closed

[2015-09-19 06:17] #4736 closed

[2015-09-21 09:45] jstrachan commented on #4732
I hit this too when getting an arquillian test to provision and use the fabric8 console in a custom namespace. My first attempt was to create a new OAuthClient with a name using the namespace as postfix; but that didn't work as the app is hardwired to use 'fabric8' as the oauthclient name.

So it turns out the only real way to get it to work is to add the redirectURL of the new app install to the

[2015-09-21 11:14] rawlingsj opened #4751 "kubernetes-model jenkins workflow java.io.NotSerializableException: java.util.ArrayList"
When looping over string arrays in the jenkins workflow DSL we can run into the stack trace below.

[code]

[2015-09-21 11:16] rawlingsj commented on #4751
This is a [known issue](https://issues.jenkins-ci.org/browse/JENKINS-27927) and can be worked around by..

change
[code]
to
[code]

[2015-09-21 11:16] #4751 closed

[2015-09-21 14:09] jstrachan opened #4753 "allow gofabric8 to be used to initialise an integration test namespace when using arquillian"
we've various things inside gofabric8 to enable roles, SCCs, secrets and so forth so it can be handy to enable gofabric8 to be used to properly initialise a namespace before a system test is run on it.

This lets us avoid having to port all the gofabric8 functionality to java code; while secrets is fairly easy; the SCC / roles is a little more involved

[2015-09-21 14:20] #4753 closed

[2015-09-22 21:26] rawlingsj opened #4766 "fabric8 2.2.31 quickstarts release failing"
[ERROR] Failed to execute goal org.jolokia:docker-maven-plugin:0.13.3:build (default) on project quickstart-karaf-camellog: Failed to create assembly for docker image: Error creating assembly archive docker: Failed to read filesystem attributes for: /var/jenkins_home/ipaas-quickstarts/quickstarts/karaf/camel-log/target/quickstart-karaf-camellog-2.2.31.tar.gz with mode dir -> [Help 1]

[code]

[2015-09-22 21:30] rawlingsj commented on #4766
@dhirajsb @rhuss does this mean anything to you?

[2015-09-22 21:39] rawlingsj commented on #4766
@dhirajsb I'm guessing the error the release is hitting is related to the recent commit https://github.com/fabric8io/ipaas-quickstarts/commit/47b9516630b9fa116d315dc4de2341b5b094adcb

[2015-09-22 21:44] dhirajsb commented on #4766
that's weird, I sent the change through a PR, so it went through because it worked, I'll look again later

[2015-09-23 03:02] dhirajsb commented on #4766
@jrawlings, we had to add -Dmaven.repo.local= to the mvn command for redhat
branch build to work.

On Tue, Sep 22, 2015 at 2:39 PM, James Rawlings <notifications@github.com>
wrote:

[2015-09-23 21:16] dhirajsb opened #4778 "Replace camel components in dependencyManagement with camel-parent pom import"
Maven pom import allows pulling in all dependencies from another pom, instead of having to manually add and update them.

[2015-09-23 21:33] dhirajsb opened #4780 "Missing spring-core dependency in fabric8-cxf"
Causes java.lang.NoClassDefFoundError: org/springframework/core/ResolvableTypeProvider in JsonSchemaJMXTest

[2015-09-24 06:01] jstrachan commented on #4745
FWIW there's a link to the new FAQ here: http://fabric8.io/guide/faqFuse.html

[2015-09-24 12:50] jstrachan opened #4784 "add analytics for usage of the web console to better help optimise the site"

[2015-09-24 13:06] pmuir commented on #4784
Here some high level thoughts about what we want to achieve with the metrics:

1) What are people doing? Things like "people are using fabric8 for CI/CD more than anything else",  "fabric8 is used by developers and QE, but not release engineering", "microservices is the most popular arch style"

2) What are people using? What libraries are popular right now? How often do people update libraries? D

[2015-09-24 13:25] davsclaus opened #4785 "Upgrade to Camel 2.16 and add some improvements"
The forge commands should have the new `rest-api-doc` command.

The quickstarts should be upgrade to 2.16, and the rest-dsl based should expose the api-docs as well.

[2015-09-25 12:31] jstrachan commented on #4412
I think this is all sorted now with the secrets annotations and gofabric8 installer https://github.com/fabric8io/fabric8/blob/master/docs/secretAnnotations.md

[2015-09-25 12:32] jstrachan opened #4787 "the Create Project wizard should allow importing from an existing gogs repository"
once the project is in gogs, we've got the forge `devops-edit` project; so we just need a UI that folks can pick the project to import and it can then run the `devops edit` UI on it to create the project / jenkins build et al inside OpenShift

[2015-09-25 12:49] cmoulliard commented on #4412
No. We can't use the public keys generated by gofabric8. @rawlingsj is aware of the problem and will update gofabric8. This is why for the moment, we have to use these instructions (see steps from 1 to 4) --> https://github.com/cmoulliard/emea-partners-2015/blob/master/slideshow/installations-cd.adoc#installation

[2015-09-25 14:49] jstrachan opened #4788 "add a `project` label to all generated kubernetes resources and a `version` label to all resources (but not use it in Service selectors)"
for the console we really need to be able to view multiple namespaces and show the versions of a project that have been deployed.

A nice easy way to do it is ensure that all RCs / Services get labelled with the project + version (apart from services we'd probably wanna omit version from those to avoid breaking rolling upgrades)

[2015-09-25 16:49] #4788 closed

[2015-09-27 12:29] oscerd opened #4796 "Docker-api: Add @EqualsAndHashCode(callSuper=false) where required"
Lombok gives some warning inside Docker-api component.

[code]

[2015-09-27 12:39] #4796 closed

[2015-09-27 17:36] #4412 closed

[2015-09-28 01:01] hotmeatballsoup opened #4799 "README documentation very out of date"
The following snippet is from your kubernetes-api README:

    KubernetesFactory kubeFactory = new KubernetesFactory();
    Kubernetes kube = kubeFactory.createKubernetes();
    PodListSchema pods = kube.getPods();

But in reality, `KubernetesFactory` and those other classes are completely missing from the `kubernetes-api` JAR. Please update your README to contain proper/current uses of the client

[2015-09-28 08:02] jstrachan opened #4800 "add build ID, jenkins build URL, git URL, git commit, git branch annotations by default to the generated RC so that we can provide better navigation"

[2015-09-28 08:05] jimmidyson commented on #4800
You could possibly put all this under one annotation as a blob of JSON?

[2015-09-28 08:06] jstrachan commented on #4800
could do - its a tricky one - i figured since 2 of them are just URLs that folks might wanna easily grab and link to in tools; using separate annotations was maybe a little easier to use

[2015-09-28 08:14] jstrachan opened #4802 "devops-edit should by default update the maven jar plugin to include the build URL / git URL / git commit id inside each jars manifest"
its good practice to link each artefact's metadata to the git url, commit, build url that created it to help traceability. We should be able to just tweak the maven jar plugin's configuration to add these to the manifest of generated jars

[2015-09-28 18:36] cmoulliard opened #4809 "Link to quickstarts is not longer correct"
This `https://github.com/fabric8io/fabric8/blob/master/docs/quickstarts.md` page refers to wrong link for the quickstarts

Example for karaf -> https://github.com/fabric8io/fabric8/tree/master/quickstarts/karaf

[2015-09-28 22:15] christian-posta opened #4810 "Installer uses "domain" as the hostname for creating routes"
When I use the installer, I specify --domain="apps.fabric8.osecloud.com"
Which is what I want when the routes created, i.e., jenkins.apps.fabric8.osecloud.com. But I cannot get to the fabric8 console because when it tries to authenticate, it redirects to "apps.fabric8.osecloud" and not the proper master, which would be "fabric8.osecloud.com"

[2015-09-28 22:17] christian-posta opened #4811 "Origin 1.0.6: cannnot login to fabric8 console"
Try here:

http://fabric8.fabric8.osecloud.com, will leave it up for a bit

Seems to authenticate and then redirect to authentication page

[2015-09-29 11:53] oscerd opened #4812 "Fabric8-build-workflow uses deprecated method from KIE"
After the upgrade to KIE 6.3.0.Final the Fabric8-build-workflow uses deprecated method in his tests.

[code]

I'll take care of this.

[2015-09-29 16:16] #4812 closed

[2015-09-29 16:31] davsclaus commented on #4809
I think @rhuss fixed up the quickstarts today, but there may be some links in the doc somewhere.

@cmoulliard do you remember where you found that broken link?

[2015-09-29 16:33] davsclaus commented on #4799
@hotmeatballsoup what readme do you refer to? Can you provide a link?

The readme here seems up to date?
https://github.com/fabric8io/kubernetes-client

[2015-09-29 16:39] cmoulliard commented on #4809
@davsclaus Updated issue with the correct link of the md page

[2015-09-30 01:17] hamsal opened #4819 "Kubernetes API Fails on forbidden pod"
When I run `mvn clean test-compile exec:java` I many lines of valid output but halfway through it fails with
[code]

[2015-09-30 05:46] davsclaus commented on #4819
Can you explain a bit more what you are doing. The error indicate a namesapce does not exists `mynamespace`. Have you created such namespace ?

[2015-09-30 05:47] davsclaus commented on #4810
Ah wonder if @gashcrumb knows about this?

[2015-09-30 05:48] davsclaus commented on #4721
Yeah I think the order may be important. I usually run mvn clean install fabric8:json docker:build.

But maybe we could have an uber maven goal that combines the other goals and execute them in correct order?

[2015-09-30 05:49] davsclaus commented on #4718
You mean the project name `dummy` already exists?

[2015-09-30 05:50] davsclaus commented on #4700
Did this get resolved?

[2015-09-30 05:51] jimmidyson commented on #4810
This is a problem in the templates. Need to have master address as separate template parameter.

[2015-09-30 05:51] #4809 closed

[2015-09-30 05:52] davsclaus commented on #4683
The karaf 4 quickstart has been removed yesterday.

[2015-09-30 05:52] #4683 closed

[2015-09-30 05:54] davsclaus commented on #4632
@rawlingsj are there more work on this ?

[2015-09-30 05:54] davsclaus commented on #4628
@KurtStam have you not upgraded aipman ?

[2015-09-30 05:55] davsclaus commented on #4600
closing as mq is being replaced with qpid

[2015-09-30 05:55] #4600 closed

[2015-09-30 05:56] davsclaus commented on #4574
@jimmidyson isnt this down your alley?

[2015-09-30 05:57] davsclaus commented on #4572
@jstrachan @rawlingsj have you guys not done some restructure in the apps / quickstarts and whatnot. Anyting more to rename?

[2015-09-30 05:57] davsclaus commented on #4571
does it work now?

[2015-09-30 05:58] davsclaus commented on #4548
@oscerd did you raise an issue to forge?

[2015-09-30 05:59] davsclaus commented on #4545
dont we have this now or is there more work?

[2015-09-30 05:59] davsclaus commented on #4538
yeah we could have nicer error reporting from this tool. Good idea.

[2015-09-30 06:01] davsclaus commented on #4463
can this be closed or is there something to be worked on?

[2015-09-30 06:03] davsclaus commented on #4459
ah is this a filter in the UI or do we have the data about all nodes?

Though I only recall see hosts in that list with 1 or more pods. Also its harder to test locally when you only have one node ;)

[2015-09-30 06:04] jimmidyson commented on #4538
There is a custom error message now from kube client so we can close

[2015-09-30 06:04] #4538 closed

[2015-09-30 06:04] davsclaus commented on #4442
Yeah re-creating the vagrant can fix up some weird issues. The troubleshooting section has been updated with some more tips

[2015-09-30 06:04] #4442 closed

[2015-09-30 06:06] jimmidyson commented on #4545
No this is done.

[2015-09-30 06:06] #4545 closed

[2015-09-30 06:07] jimmidyson commented on #4574
Done.

[2015-09-30 06:07] #4574 closed

[2015-09-30 06:07] davsclaus commented on #4441
You mean we could add some more documentation here:
http://fabric8.io/guide/getStarted/vagrant.html#how-to-vagrant-up

[2015-09-30 06:08] davsclaus commented on #4430
This is much better now. closing this ticket.

[2015-09-30 06:08] #4430 closed

[2015-09-30 06:08] davsclaus commented on #4425
@gtmyers did you get any further with this?

[2015-09-30 06:09] oscerd commented on #4548
@davsclaus Yes, I've re-opened this one:

https://issues.jboss.org/browse/FORGE-552

[2015-09-30 06:10] davsclaus commented on #4414
I am pondering if we should not close all v1 issue. The jboss fuse team have their own issue tracker and prioritizes what they accept or change on fabric v1. We have 88 v1 tickets here.

[2015-09-30 06:11] davsclaus commented on #4365
Did you add a label?

[2015-09-30 06:11] davsclaus commented on #4334
The last 2.2.34 release works fine

[2015-09-30 06:11] #4334 closed

[2015-09-30 06:12] davsclaus commented on #4311
mq is being removed

[2015-09-30 06:12] #4311 closed

[2015-09-30 06:12] jimmidyson commented on #4365
Not yet.

[2015-09-30 06:13] davsclaus commented on #4360
There is this gofabric8 pull command that helps at least. But yeah would be great with some feedback in the ui about image downloads and whatnot.

[2015-09-30 06:14] #4275 closed

[2015-09-30 06:15] #4272 closed

[2015-09-30 06:16] davsclaus commented on #4092
the archetypes are better now. Lets close this and open new tickets for new issues.

[2015-09-30 06:16] #4092 closed

[2015-09-30 06:17] davsclaus commented on #4075
the karaf quickstarts builds images with all included.

[2015-09-30 06:17] #4075 closed

[2015-09-30 06:17] rajdavies commented on #4311
its going back :)

[2015-09-30 06:17] davsclaus commented on #3832
A lot has happened since. Have you tried with latest releases of fabric8?

[2015-09-30 06:18] davsclaus commented on #3832
@jimmidyson are all the logging and metrics apps not working now?

[2015-09-30 06:18] davsclaus commented on #3831
@jimmidyson isn't the out of the box dashboard not included today? I remember in the past having the same issue as reported here.

[2015-09-30 06:19] davsclaus commented on #3913
thanks for the PR

[2015-09-30 06:19] #3913 closed

[2015-09-30 06:20] davsclaus opened #4821 "Add screenshot to logging and metrics documentation page"
at these pages
http://fabric8.io/guide/logging.html
http://fabric8.io/guide/metrics.html

we should add one or two screenshots of kibanan / grafana in action.

We have some screenshots for the console page
http://fabric8.io/guide/console.html

[2015-09-30 06:20] jimmidyson commented on #4311
Yay!

[2015-09-30 06:21] davsclaus commented on #3962
See also #4821

[2015-09-30 06:22] davsclaus commented on #4405
In the upcoming Camel 2.16 we have more labels for each option, so we should group by labels

- consumer
- producer
- advanced
- security
and so on.

[2015-09-30 06:23] davsclaus commented on #4399
Have anyone tried using the latest release and seen if there is any such problems?

[2015-09-30 06:23] #4392 closed

[2015-09-30 06:23] davsclaus commented on #4363
See #4364

[2015-09-30 06:25] jstrachan commented on #4414
it'd be great for the folks who raised the issues if we could create them in the jboss fuse issue tracker, add a link then close. Not sure how easy it'd be to automate that mind you

[2015-09-30 06:25] davsclaus commented on #4269
Yeah seems like it can be removed

[2015-09-30 06:29] davsclaus commented on #4311
@rajdavies yay did you win a strong-arm content to get it back ;)

[2015-09-30 06:32] jstrachan commented on #4571
yeah, pretty much there now - gonna close this issue

[2015-09-30 06:32] #4571 closed

[2015-09-30 06:32] jstrachan commented on #4718
yeah, if you pick a name which already has a project in gogs there's no UI check and then things barf

[2015-09-30 06:33] jstrachan commented on #4572
yeah - renamed lots of things to be cleaner; plus ipaas and devops separated - so gonna close this one now

[2015-09-30 06:33] #4572 closed

[2015-09-30 07:00] #4269 closed

[2015-09-30 07:08] cmoulliard commented on #4571
Gerrit kube app is working excepted that we don't sync gogs & gerrit repo ('https://github.com/fabric8io/fabric8-devops/issues/44''). So, please, don't remove gerrit from cd-pipeline

[2015-09-30 08:01] oscerd opened #4824 "Fabric8-cxf is using deprecated methods from Jackson"
[code]

I'll take care of this

[2015-09-30 08:13] rawlingsj commented on #4632
@davsclaus no I think we can close this and raise issues if there is anything found to be outstanding.

[2015-09-30 08:13] #4632 closed

[2015-09-30 08:15] rawlingsj commented on #4463
just tested and the run button appears in all namespaces now.

[2015-09-30 08:15] #4463 closed

[2015-09-30 11:13] jstrachan opened #4825 "create the gerrit repo & sync if the code review is enabled in ProjectConfig (fabric8.yaml)"
e.g. this code...
https://github.com/jstrachan/fabric8/blob/cdelivery/components/fabric8-devops-connector/src/main/java/io/fabric8/devops/connector/DevOpsConnector.java#L301-301

[2015-09-30 11:43] EricWittmann commented on #4628
I think this issue is likely deprecated.  :)  We're currently using 1.2.0.Alpha3 of apiman for productization purposes.  We'll probably end up with 1.2.0.Final.

[2015-09-30 11:56] KurtStam commented on #4628
Yes we already went to 1.1.3.Final and moved to infinity and beyond. Closing this.

[2015-09-30 11:56] #4628 closed

[2015-09-30 12:14] cmoulliard commented on #4825
Code to be integrated is : https://github.com/jstrachan/fabric8/blob/cdelivery/fabric8-maven-plugin/src/main/java/io/fabric8/maven/CreateGerritRepoMojo.java#L92-92

[2015-09-30 15:24] #4824 closed

[2015-09-30 17:11] bdellegrazie commented on #2618
Can this be done in v1 / Fuse 6.2? via default.profile/io.fabric8.zookeeper.properties?

[2015-09-30 17:12] hamsal commented on #4819
the only thing I did before hand was export the `KUBERNETES_MASTER` variable to point to my api. No I don't think I made such a namespace on my cluster.

[2015-10-01 05:46] davsclaus opened #4839 "maven fabric8:json - Output json in pretty format"
The maven plugin generates the kubernetes.json as a single line of text.

It would be good if it output it in pretty format so its easy readable out of the box.

[2015-10-01 06:33] oscerd commented on #4839
I would like to take care of this :-)

[2015-10-01 11:29] jstrachan opened #4842 "lets try to default BUILD_URL and GIT_URL if we can calculate them or find them in fabric8.yml when creating/applying json"
adding these annotations to the generated / applied json will help add nicer links in the console. Though it looks like these env vars are not setup by default with Jenkins Workflow right now.

So if they are not defined, lets try our best to default them to sensible values

[2015-10-01 11:35] #4842 closed

[2015-10-01 12:11] davsclaus commented on #4538
Yeah just saw this today
[code]

[2015-10-01 12:12] jimmidyson commented on #4538
Yay! Nice work @iocanel

[2015-10-01 15:43] #4839 closed

[2015-10-01 16:49] rawlingsj opened #4847 "Warning when building chaos monkey 'Forbidden!Configured service account doesn't have access. Service account may have been revoked.'"
Warnings when building chaos monkey for release..  build doesn't fail so not sure if it's a problem..

[code]

[2015-10-01 19:20] rawlingsj opened #4850 "2.2.38 null pointer on fabric8:apply"
Running the create project wizard from the fabric8 console, jenkins errors after successfully passing integration test but when applying to staging..

[code]

Full log

[code]

[2015-10-01 19:42] jimmidyson commented on #4850
Could you rerun with `-X` so we can get the stack trace please?

[2015-10-02 07:42] cmoulliard commented on #4850
Here is the stacktrace

[code]

[2015-10-02 07:45] jstrachan commented on #4850
just submitted a PR for this - sorry! :)

a workaround is to add this to your jenkins image or workflow:
[code]

[2015-10-02 08:15] cmoulliard commented on #4850
Error is still there even when we export the ENV var within the docker container

[code]

[2015-10-02 08:56] davsclaus opened #4852 "fabric-maven-plugin json goal requires online access to kube which it should not"
The new 2.2.37 release causes it to go online. See
https://gist.github.com/davsclaus/2e0122ec9f108bb62546

[2015-10-02 09:04] jstrachan opened #4853 "mvn fabric8:apply sometimes silently seems to just delete the RC without any errors"
created the a new project using the new project wizard of type `cdi-camel` and ran the build; it worked fine and was staged.

Then tried kicking off the jenkins build again and the RC and all pods just got deleted. Yet it all looked fine in the build log:

 https://gist.github.com/jstrachan/28a3165efce19121811d

running it again -then it came back (with a different version).

I guess its deleting

[2015-10-02 09:05] jstrachan commented on #4853
btw to get the current release to work, I clicked the "Copy flow to project" button - used the CanaryReleaseStageAndPromote.groovy.

Then I added `-DGIT_COMMIT=cheese` to the mvn command lines for the fabric8:apply goal

[2015-10-02 09:13] davsclaus commented on #4852
Okay 2.2.40-SNAPSHOT logs this ugly stacktrace by complets the json goal
[code]

[2015-10-02 09:13] davsclaus commented on #4852
Looks like this commit did this
https://github.com/fabric8io/fabric8/commit/e94e2d25dac04477fb1e3a6cc77f3744efb08756

[2015-10-02 09:15] davsclaus commented on #4852
#4800 causes this problem

[2015-10-02 09:16] davsclaus commented on #4800
@jstrachan this causes the fabric8:json goal to not work in offline mode, see ticket #4852

[2015-10-02 09:31] jstrachan commented on #4852
the build works - I guess we just have to be a bit quieter in the exception if we can't find jenkins?

[2015-10-02 09:31] jstrachan commented on #4800
the goal still works - its just a noisy log right?

[2015-10-02 09:48] davsclaus commented on #4800
yes so maybe there is a nicer way of knowing if we have a kubernetes connection or not.

[2015-10-02 10:08] jstrachan commented on #4800
I guess offline mode in maven maybe?

On 2 October 2015 at 10:48, Claus Ibsen <notifications@github.com> wrote:

--
James
-------
Red Hat

Twitter: @jstrachan
Email: james.strachan@gmail.com
Medium: https://medium.com/@jstrachan/
Blog: http://macstrac.blogspot.com/

fabric8: http:/ <http://fusesource.com/>/fabric8.io/
hawtio: http:/ <http://fusesource.com/>/hawt.io/

Open Source DevOps and Integra

[2015-10-02 10:08] jstrachan commented on #4800
though you could be offline but still have a local kubernetes install really

On 2 October 2015 at 11:07, James Strachan <james.strachan@gmail.com> wrote:

--
James
-------
Red Hat

Twitter: @jstrachan
Email: james.strachan@gmail.com
Medium: https://medium.com/@jstrachan/
Blog: http://macstrac.blogspot.com/

fabric8: http:/ <http://fusesource.com/>/fabric8.io/
hawtio: http:/ <http://fusesource.com

[2015-10-02 11:11] cmoulliard opened #4856 "Move "Create Project" button from default workspace to home page"
The "create project" button is available under the screen of the default workspace

![screenshot 2015-10-02 13 06 43](https://cloud.githubusercontent.com/assets/463790/10245335/cebb7144-6906-11e5-87f2-15316b32ee7f.png)
As this button is mainly used to create `DevOps Project` with 2 workspaces (staging, prod), we should move it to this screen (= home screen) and rename it to "Create DevOps" Project

[2015-10-02 11:16] jstrachan commented on #4856
don't really grok this. Workspaces (OpenShift namespace) != Project (git repo + source code).

Depending on the choices in the New Project wizard there may or may not be workspaces created. I don't see that as a reason to add a Create Project to the workspaces page - afterall you must be inside  workspace first anyway

[2015-10-02 11:16] #4856 closed

[2015-10-02 11:24] davsclaus commented on #4852
Yes I added some check to detect if its some connection error and silently ignore it, now it shows
[code]

[2015-10-02 11:37] davsclaus commented on #4850
Yeah the code seems to be fixed by the NPE fix in commit 4b8f3b588c7f88d08491fdb1ae24d8cec0b8c155

[2015-10-02 11:38] davsclaus commented on #4852
This is better now

[2015-10-02 11:38] #4852 closed

[2015-10-02 11:42] davsclaus commented on #4819
Ah okay you ran the `Example` from the kubernetes-api

[2015-10-02 11:43] rawlingsj commented on #4850
Agreed.  Closing.

[2015-10-02 11:43] #4850 closed

[2015-10-02 11:55] davsclaus commented on #4811
Yeah the vagrant is still using 1.0.5, i wonder if @jimmidyson or @rawlingsj are aware of any problems ahead of OS3 upgrade?

[2015-10-02 11:57] davsclaus commented on #4799
Ah yeah that snippet is outdated, let me try to fix up that

[2015-10-02 11:58] jimmidyson commented on #4811
I think @ceposta & I worked out that it was related to #4810 wasn't it?

[2015-10-02 11:59] jimmidyson commented on #4811
@davsclaus Would you be able to update the openshift version in the vagrantfile & verify it works for you locally?

[2015-10-02 12:10] #4819 closed

[2015-10-02 12:17] #4799 closed

[2015-10-02 12:17] davsclaus commented on #4811
ok checking now, its installing with 1.0.6

[2015-10-02 12:30] davsclaus opened #4860 "mvn fabric:json - A bit nicer error messages"
Have vagrant running and deploy the camel-servlet quickstart using: mvn clean install docker:build fabric8:json fabric8:apply

There is no CI/CD setup in the f8 platform. Just a plain vagrant up.

[code]

[2015-10-02 12:52] davsclaus commented on #4811
seems okay from my camel ipaas testing with 1.0.6. @rawlingsj will give the CI/CD story a test too

[2015-10-02 12:57] davsclaus commented on #4780
@dhirajsb has add that dependency

[2015-10-02 12:57] #4780 closed

[2015-10-02 12:58] davsclaus commented on #4725
I doubt that, and v1beta3 is deprecated and removed from OS3 / kubernetes. So you better upgrade to v1

[2015-10-02 12:58] #4725 closed

[2015-10-02 12:59] davsclaus commented on #4766
Ah I had that recently also. @rhuss did had a look I think and found out something about different between maven profiles and using docker:build directly on the mvn command line.

[2015-10-02 13:00] davsclaus commented on #4700
the quickstart is simpler now so no random numbers in testing

[2015-10-02 13:00] #4700 closed

[2015-10-02 13:03] davsclaus commented on #4687
I only has this ENV set

davsclaus:/workspace/quickstarts/quickstart/cdi/camel (master)/$ export | grep -i KUBE
declare -x KUBERNETES_DOMAIN="vagrant.f8"

And I deploy fine to OS on vagrant and my kube config is
[code]

As a lot has changed in 1 month. Then closing as assume working on latest code. @christian-posta you can try again if you can see to reproduce with latest release.

[2015-10-02 13:03] #4687 closed

[2015-10-02 13:05] davsclaus commented on #4646
Its been a while, dont this work now?

[2015-10-02 13:06] Javierperezmartin commented on #4725
You are right. It was because of using some docker images containing
Kubernetes, they still use beta versions, but just built one from the
scratch with v1. Anyway, such images have a high calification, so I thought
change version by configuration could be an open issue.

BR, Javier
El 2/10/2015 14:58, "Claus Ibsen" <notifications@github.com> escribió:

[2015-10-02 13:16] rhuss commented on #4766
the karaf quickstart I didn't touch, but indeed it looks like mismatch between the configuration in the 'docker-build' profile and the direct d-m-p configuration used when doing a 'mvn docker:build'. The simplest solution would be probably to remove all d-m-p configuration from the profile because the direct configuration is supposed to be working (at least that was the config I tested).

[2015-10-02 14:43] #4853 closed

[2015-10-03 23:49] eformat opened #4866 "oauth fails with fabric8 on openshift enterprise v3 - need to allow CORS in master, helpful advice for others"
useful tips if you try to run fabric8 on openshift enterprise v3 and cannot login (you get redirected back to the login console @ OAUTH_AUTHORIZE_URI)

(1) make sure your admin has a login via web console e.g. if using HTPasswdPasswordIdentityProvider in OSEv3

htpasswd -b /etc/openshift-passwd admin admin

(2) make sure you install fabric8 with the right domain for you:

gofabric8 deploy -d examp

[2015-10-04 07:01] davsclaus commented on #4766
Yeah I think we should remove all those profiles as well. This will simplify the pom.xml, and people should use the `docker:build` or `docker:push` from the command line.

[2015-10-04 07:02] davsclaus commented on #4150
I think @rhuss has aligned and whatnot the docker images. What are we using now?

[2015-10-04 07:03] davsclaus commented on #4125
Has not seen this recently

[2015-10-04 07:03] #4125 closed

[2015-10-04 07:05] davsclaus commented on #4118
karaf should be different now with the minimal container. See how this example works
https://github.com/fabric8io/ipaas-quickstarts/blob/master/quickstart/karaf/camel-log/pom.xml

[2015-10-04 07:09] davsclaus commented on #4041
There is only sonarqube left
[code]

@iocanel is this a json you can generate using the buidler?

[2015-10-04 07:09] davsclaus commented on #4041
All the files are generated in the fabric8-ipaas and quickstarts as well.

[2015-10-04 07:34] rhuss commented on #4150
It's `/app` for our quickstart and will change this in d-m-p as default, too when going to 1.0.0

[2015-10-04 07:35] rhuss commented on #4150
so, the java base images assume `/app` as default, the configuration of 'd-m-p' in the quickstarts configure a `basedir` of `/app` (instead of the default `/maven`)

Everything can be configured and changed, of course.

[2015-10-04 09:19] oscerd opened #4867 "Do we really need google gson dependency?"
It seems no module is actually using gson dependency.

Before submit a PR removing it I'd like to have confirm from you.

[2015-10-04 12:17] jimmidyson commented on #4867
If it's not being used by anything then please remove. Good spot!

[2015-10-04 12:41] #4867 closed

[2015-10-04 12:48] cmoulliard opened #4869 "Blocking issue : letschat web server is not working anymore - 2.2.40"
I don't see errors within the log of the pod of letschat but we can access's the web server `letschat.vagrant.f8` since 2.2.40

[code]

[2015-10-04 18:48] rawlingsj commented on #4869
I've just tested Lets Chat with 2.2.40 successfully with no issues.

On one of the mailing list emails you sent @cmoulliard  you mentioned you did a vagrant reload, this may have confused things with openshift if you were connecting to a different wifi (just a guess as we have little else to go on).

If you are still having issues a bit more info is needed including what http error code you get if

[2015-10-04 20:11] rawlingsj opened #4870 "[console] Unable to resize RC's"
No pop up is shown after trying to resize RC

![bhfqyi](https://cloud.githubusercontent.com/assets/1457180/10269983/7872fc9e-6adc-11e5-9ce7-98bff8a11da4.gif)

[2015-10-04 20:18] cmoulliard commented on #4869
Letschat is back after recreating this morning a new Vagrant Machine

[2015-10-04 20:18] #4869 closed

[2015-10-05 10:40] jstrachan opened #4872 "mvn fabric8:apply failure"
this used to work. Now on 2.2.40 I get this
[code]

when trying the CanaryStageApproveAndPromote.groovy

[2015-10-05 10:41] jstrachan commented on #4872
think this was caused by 2 builds running in parallel!

[2015-10-05 13:26] davsclaus opened #4874 "The fabric maven plugin should be less noisy when guess jenkins url"
When you just start f8 without jenkins you get

[code]

[2015-10-05 13:26] davsclaus commented on #4874
We should detect the IllegalArgumentException and not show the stacktrace

[2015-10-05 13:43] davsclaus commented on #4874
Its less noisy now

[code]

[2015-10-05 13:46] cmoulliard opened #4875 "Hawt/Jolokia of a pod created for camel-cdi example is not accessible"
Version used : 2.2.240

There is still an issue when I try to access the hawt/jolokia console of a container

<img width="1407" alt="screenshot 2015-10-05 15 29 55" src="https://cloud.githubusercontent.com/assets/463790/10281926/16fff7f4-6b78-11e5-9855-1be6a876493b.png">

[code]

[2015-10-05 13:50] #4874 closed

[2015-10-05 13:52] davsclaus commented on #4872
@jstrachan oh a new dimension to haunt us ;)

Did you really hit some code that do a

if not exists namespace
   then create namespace

[2015-10-05 13:53] davsclaus commented on #4870
Oh I could resize last week with my camel quickstarts.

[2015-10-05 13:53] davsclaus commented on #4860
Fixed hy #4874

[2015-10-05 13:53] #4860 closed

[2015-10-05 13:54] gashcrumb commented on #4875
Regardless of the typo that 404 error has nothing to do with the jolokia connection.  If you're getting a 503 from the proxy when trying to connect to jolokia the first thing I'd suggest checking is that the app actually started up successfully with `oc logs <pod ID>`

[2015-10-05 13:55] cmoulliard commented on #4875
There is nothing within the log of the pod. The log is empty. Interesting.

[2015-10-05 13:56] jimmidyson commented on #4875
So looks like the pod hasn't started properly? `oc describe pod <podid>` show anything?

[2015-10-05 13:57] cmoulliard commented on #4875
Forget my previous comment. I found error

[code]

[2015-10-05 14:03] davsclaus commented on #4870
Yep got the same problem now with lates 2.2.40 release. It worked last week. I guess there has been an update to the web console causing this problem.

[2015-10-05 14:03] davsclaus commented on #4870
I dont see anything in the javascript log

[2015-10-05 14:17] jstrachan commented on #4870
this has been fixed in the new fabric8-console image - it was a boostrap issue

[2015-10-05 14:23] rhuss commented on #4875
Well '/maven' is obviously not  a jar file. The example you are using is this --> https://github.com/fabric8io/ipaas-quickstarts/tree/master/quickstart/cdi/camel ?

[2015-10-05 14:26] cmoulliard commented on #4875
Yes. I tried to use the camel cdi quickstart example ('io.fabric8.archetypes:cdi-camel-archetype:2.2.40')

[2015-10-05 14:29] rhuss commented on #4875
Have you checked in the project somewhere ? Or could gist the pom ?

[2015-10-05 14:29] cmoulliard commented on #4875
This problem is not specific to camel cdi as I have also the same issue for cdi-cxf quickstart example --> "Error: Invalid or corrupt jarfile /maven/"

[2015-10-05 14:33] rhuss commented on #4875
Did you create it via 'mvn archetyp:generate' or via the UI ?

[2015-10-05 14:41] rhuss commented on #4875
Using it on the command line works for me 'mvn clean install docker:build docker:start' I guess, that when creating it from the UI, there are different environment variables set (and hence confuses the startup script ?) // @jstrachan

[2015-10-05 14:55] cmoulliard commented on #4875
Project has been created from a "Create Project" - "Cd Pipeline" & build
with jenkins job based on the Groovy script

On Mon, Oct 5, 2015 at 4:41 PM, Roland Huß <notifications@github.com> wrote:

--
Charles Moulliard
Apache Committer / Architect @RedHat
Twitter : @cmoulliard | Blog :  http://cmoulliard.github.io

[2015-10-05 15:39] davsclaus commented on #4870
thanks james

[2015-10-05 15:39] #4870 closed

[2015-10-05 15:40] davsclaus commented on #4875
it worked today for the camel-servlet quickstart.

[2015-10-05 18:29] cmoulliard commented on #4875
Do we have an idea about this problem and how to fix it ?

[2015-10-05 18:42] cmoulliard commented on #4875
I confirm. camel war servlet is working.

[2015-10-05 19:48] cmoulliard opened #4880 "karaf quickstart camel log doesn't work when jenkins build the job"
I have created a project using UI ("Create Project") with the karaf camel log quickart and when the build starts, I get this error

[code]

Most probably that we have to make a change within the karaf docker image

[2015-10-06 05:22] cmoulliard commented on #4880
dhirajsb: Do you know this problem ?

[2015-10-06 06:10] dhirajsb commented on #4880
Charles, try changing the user in the docker maven plug-in in pom.xml to
1000::1000. I'll fix it tomorrow.
On Oct 5, 2015 10:22 PM, "Charles Moulliard" <notifications@github.com>
wrote:

[2015-10-06 06:25] cmoulliard commented on #4880
I will wait next release as this docker maven plugin is used by the jenkin job (https://github.com/fabric8io/jenkins-workflow-library/blob/master/maven/CanaryReleaseStageAndApprovePromote.groovy#L56)

[2015-10-06 07:44] chiippy opened #4881 "docker maven plugin to support window path separator"
Docker maven plugin 0.13.5 uses maven-dependency-plugin which creates the
classpath file for openjdk8, causes error when running the docker image.

Suggestion fix by Claus :
Roland i wonder if you have ideas how to ensure this works, so the
images can be build on whichever OS and run on docker safely?

Is it just the path separator? Or can we remove any ./ or .\ combo and
just define the file name

[2015-10-06 08:19] jstrachan commented on #3541
gonna mark this as closed as the CI / CD pipeline is rocking thanks to loads of hard work by @rawlingsj

[2015-10-06 08:19] #3541 closed

[2015-10-06 08:20] #3821 closed

[2015-10-06 09:31] #4881 closed

[2015-10-06 10:11] jstrachan commented on #4872
yeah - I guess we could check if the create fails double check its not just that some other process created it in the meantime. Though I guess avoiding the parallel builds by default would work around this issue for now

[2015-10-06 11:36] davsclaus opened #4882 "Integration testing with fabric8 arquillian should read the hostname of the server from .kube/config"
... when there is no `KUBERNETES_MASTER` env variable set.

[2015-10-06 11:37] davsclaus commented on #4882
See ticket for more details
https://github.com/fabric8io/ipaas-quickstarts/issues/761

[2015-10-07 06:37] cmoulliard opened #4887 "Tag docker image for Fabric8 release"
We still have docker images which are not yet tagged as you can see here after :
[code]

Status of the docker images linked to Fabric 2.2.43 templates

[code]

[2015-10-07 08:50] jstrachan opened #4888 "create a maven plugin to generate a list of fixed issues in a release build since the last build"
and generate a file - say fixes.md - which links to all the fixed issues; maybe including the issue summaries?

We could generate this file then add it to the release; so it gets stored in the mvn repository (e.g. foo-1.2.3.fixes.md or something) which we could then add an annotation to the RC to link to the fixes. e.g. `fabric8.io/fixes-doc-url`.

Then we could link an RC or Environments page to

[2015-10-07 09:21] iocanel opened #4889 "Create tests that ensure shrink-wrap works fine."
The last couple of months I notice that shrink-wrap which is used by fabric8-arquillian breaks quite a lot due to version conflicts.

We should have a test that takes shrink-wrap for a ride, so that we can catch pull requests that can possibly break shrinkwrap.

[2015-10-07 09:25] jstrachan commented on #4888
Iterating through commit messages using jgit should not be too hard; I guess the hard bit is gonna be deciding when to stop going back in time (due to getting to the last release). I guess we could try find tags matching some pattern for that?

[2015-10-07 09:26] jimmidyson commented on #4888
just do a git diff for commits between releases? `git log tag1..tag2` should do it

[2015-10-07 09:27] oscerd commented on #4889
Maybe the problem it's related to the last version upgrade?

https://github.com/fabric8io/fabric8/commit/1ff73ff76ade8c5aabff76c0f6d0b284cc608cba

[2015-10-07 09:27] jstrachan commented on #4888
its knowing the previous tag we should log up to thats a little more tricky to do generically; but yeah if we knew the previous tag it'd be easy

[2015-10-07 09:29] iocanel commented on #4889
@oscerd not sure. but it doesn't really matter. We should have a test so that we can catch those as early as possible :-)

[2015-10-07 09:29] jstrachan commented on #4888
wonder if these plugins might be a handy starting point:

* https://github.com/ktoso/maven-git-commit-id-plugin
* http://danielflower.github.io/maven-gitlog-plugin/generate-mojo.html

guess theres's generating a git change list; then there's using that change list + comments to figure out a list of fixed issues. Both could be handy; though the git one is less useful as its easier to just link to t

[2015-10-07 09:30] jimmidyson commented on #4888
`git describe` should help there.

[2015-10-07 09:30] jimmidyson commented on #4888
`git-describe - Show the most recent tag that is reachable from a commit`

[2015-10-07 10:08] iocanel commented on #4889
@oscerd: fwiw, that particular change is NOT responsible for the error I am seeing:

org.jboss.shrinkwrap.resolver.api.Invokable$InvocationException: Unable to load class org.jboss.shrinkwrap.resolver.spi.loader.SpiServiceLoader with class loader sun.misc.Launcher$AppClassLoader@591ce4fe
        at java.net.URLClassLoader$1.run(URLClassLoader.java:366)
        at java.net.URLClassLoader$1.run(URLC

[2015-10-07 10:17] jstrachan commented on #4888
this looks interesting too:
https://skywinder.github.io/github-changelog-generator/

works with pull requests and issues on github at least - here's an example
https://github.com/skywinder/Github-Changelog-Generator/blob/master/CHANGELOG.md

I guess we could just use some tool via a docker image in the jenkinsfile to generate the changelog?

[2015-10-07 10:33] oscerd commented on #4889
@iocanel thanks :-)

[2015-10-07 13:13] #4889 closed

[2015-10-08 11:59] cmoulliard opened #4903 "Forge generates a NPE within Fabric8SetupStep class"
[code]

[2015-10-08 13:07] jstrachan commented on #4903
workaround is - run devop-edit in a folder that contains a pom.xml. I'll fix and return a better exception

[2015-10-08 13:16] davsclaus opened #4907 "Remove karaf feature"
as the client has its own feature
https://github.com/fabric8io/kubernetes-client/blob/master/platforms/karaf/features/src/main/resources/feature.xml

[2015-10-08 13:17] #4903 closed

[2015-10-08 13:35] #4907 closed

[2015-10-08 14:23] davsclaus opened #4910 "jgroups should be compatible with older version"
Should work with jgroups 3.2.

[2015-10-08 14:41] davsclaus commented on #4910
Okay lets keep it as is, as older version is not needed yet.

[2015-10-08 14:41] #4910 closed

[2015-10-09 06:36] oscerd opened #4923 "Upgrade Camel version and related jetty 9.x version"
Since Camel 2.16.0 is out, we need to upgrade it and aligned jetty 9 to the same version of Camel 2.16.0

Can I take care of this?

[2015-10-09 06:40] oscerd commented on #4923
and Jetty 8 version off course

[2015-10-09 07:05] jstrachan opened #4924 "the CD process should host a maven site / javadocs report for each maven module"
so folks can more easily link/browse to the javadoc of a java library

[2015-10-09 09:11] rawlingsj opened #4925 "quickstart-cdi-camel-mq using 100% CPU"

[2015-10-09 12:56] rawlingsj opened #4929 "refactor fabric8 release workflow scripts to be reusable and automate CD pipeline"
Currently the groovy scripts duplicate a lot of code, we should instead leverage the [global workflow library](https://github.com/jenkinsci/workflow-plugin/tree/master/cps-global-lib) and create reusable functions for releasing projects.

- For end to end automation we should also raise pull requests when updating released dependencies so that the CI tools can catch any merge conflicts which need

[2015-10-09 18:42] #4923 closed

[2015-10-10 06:39] davsclaus commented on #4887
I think @rawlingsj is working on something for this

[2015-10-10 06:40] davsclaus commented on #4811
we have upgraded and haven't seen problems with this since.

[2015-10-10 06:40] #4811 closed

[2015-10-10 06:41] iocanel commented on #4887
Yeah, he is! He is updating the workflow scripts so that they tag images for each release (i think)

[2015-10-10 08:42] rawlingsj commented on #4887
Yep that's right.  It means we will be able to develop with images using `latest`, when we're happy then we can tag that image with `release`, the workflow script will then pull that image and give it a new tag of the release version number.

[2015-10-11 19:27] rawlingsj opened #4937 "karaf-maven-plugin missing requirement [org.apache.camel.camel-servlet/2.15.3] after latest fabric8 upgrade"
From fabric8 automated CD pull request, ipaas-quickstarts fails to compile

CI job:  https://fabric8-ci.fusesource.com/job/fabric8-ipaas-quickstarts-master-pullreq/894/console

[code]

[2015-10-11 19:33] rawlingsj opened #4938 "[fabric8-ipaas] compilation error following latest kubernetes-client version upgrade"
From the CD pipeline we've upgraded fabric8-ipaas to the latest fabric8 (which in turn upgrades kubernetes-client) and we get this compilation error:

fabric8 CI job is: https://fabric8-ci.fusesource.com/job/fabric8-ipaas-master-pullreq/39/console

[code]

[2015-10-11 21:17] rawlingsj commented on #4938
fixed by https://github.com/fabric8io/fabric8-ipaas/pull/31

[2015-10-11 21:17] #4938 closed

[2015-10-12 04:43] dhirajsb commented on #4937
That's weird, the quickstart builds fine locally on master branch. Not sure what could be causing the camel-servlet bundle to be unresolvable. Could it be a transient problem, perhaps try building it again?

[2015-10-12 09:35] rawlingsj commented on #4937
Ah that's because master doesn't have the latest fabric8 version update because the pull request is failing CI, this is the PR..

Taken from our shiny new automated pipeline slack notifications...
[code]

[2015-10-12 09:37] rawlingsj commented on #4937
I'll take a look at it now.. I wonder if there are some osgi headers restricting the use of the new camel 2.16

[2015-10-12 09:42] rawlingsj commented on #4937
Yeah so each quickstart has it's own version properties so the <camel.version> needs to be updated to be 2.16.0.  I'll update this now.

[2015-10-12 11:33] davsclaus opened #4941 "Forge addon - Disable jube"

[2015-10-12 12:23] rawlingsj opened #4943 "[release] no way to find out if github pull request failed checks"
Currently we send hubot notifications when the PR `mergeable_state` is `unstable`, however this is the status when the CI job first starts and not when its failed.  There doesnt seem to be anything on the github api to figure out when checks failed so we might have to figure out the jenkins CI job and watch that instead  Until then we will send a notification with the details of how to clone the p

[2015-10-12 12:43] davsclaus opened #4944 "jbpm stuff move to sandbox"

[2015-10-12 13:09] #4944 closed

[2015-10-12 13:28] rawlingsj commented on #4937
closed https://github.com/fabric8io/ipaas-quickstarts/pull/797

[2015-10-12 13:28] #4937 closed

[2015-10-13 07:17] davsclaus opened #4949 "hawt-app plugin readme is outdated"
See
https://github.com/fabric8io/fabric8/tree/master/hawt-app-maven-plugin#usage

it refers to jboss name. It should be updated to fabric8 naming.

@rhuss wonder if there is other changes needed? Maybe you wanna take a look and fix this

[2015-10-13 07:21] rhuss commented on #4949
@davsclaus Yeah, I overseen that. The properties has been already adapted, but I will check again.

[2015-10-13 07:52] davsclaus opened #4951 "forge setup command - needs to use hawt-app-plugin"
and other changes due recent changes.

[2015-10-13 08:06] davsclaus commented on #4785
the rest-dsl is sadly in a karaf quickstart that dont support swagger yet as swagger is not osgi compliant.

[2015-10-13 08:06] #4785 closed

[2015-10-13 08:07] davsclaus commented on #4941
jube has been disabled but maybe we should just remove it.

[2015-10-13 08:33] #4941 closed

[2015-10-13 08:45] #4949 closed

[2015-10-13 18:00] kachizukanne opened #4961 "fabric-jclouds feature broken in version 1.2.0....-133"
Hi all,

Starting with a clean download of the latest release version of [JBoss Fuse](http://www.jboss.org/download-manager/file/jboss-fuse-6.2.0.GA-full_zip.zip), after I start up the server and attempt to install `fabric-jclouds`, it fails with an `Unsatisfied requirement(s)` error for 3 services

[code]

After unzipping and digging through the relevant distro files, I confirm that the 3 service